{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Eye Tracking | Mouse Controller {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'eyetracking/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
    <li><a href="{% url 'eyetracking:index' %}">Eye Tracking</a></li>
	<li class="active">Mouse Controller</li>
{% endblock %}

{% block content %} 
	<div class="background-gif" id="controller-gif"></div>
	<div class="jumbotron text-center app-splash">
		<h1 class="vertical-align animated bounceInLeft" style="color: black">Eye Tracking as a Mouse Controller</h1>
	</div>
	
	<div class="container app-text-standard">
		<p class="text-justify">Eye tracking can be used as a method of input for a computer. This might be particularly useful for people with disabilities or injuries, such as during cases where they are unable to operate a mouse with their hands.</p>
        <p class="text-justify">In this activity you will control a circle with your eyes. Your goal will be to move that circle into the square.</p> 
		<section class="text-center button-section" id="experiment-button">
			<a id="start" href="#experiment" role="button" class="btn btn-primary btn-lg"><span>Try it out</span><br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</section>
    </div>
	<div id="experiment" class="container">
		<div id="map">
        </div>  
	</div>
    <div id="experiment_pt2" class="container">
		<div id="map2">
        </div>  
	</div>

<section class="app-text-highlight">
	<div class="text-center vertical-align">
	    <h1>Level Up</h1>
		<p class="lead">Feast your eyes on this.</p>
		<button role="button" class="btn btn-default btn-lg" href="#" id="level-up"><span class="btn-primary-span">Level Up</span><i class="fa fa-level-up" aria-hidden="true"></i></a>
    </div>
</section>
{% endblock %}

{% block script %} 
<script src="https://d3js.org/d3.v4.min.js"></script>
	 <script type="text/javascript" src="{% static 'eyetracking/scroll.js' %}"></script>
     <script type="text/javascript" src="{% static 'eyetracking/tofront.js' %}"></script>
    <script>
$(function() {
    var svgheight= document.getElementById('map').offsetHeight;
    var svgwidth = document.getElementById('map').offsetWidth;

    // practice run
    $('#start').click(function() {
        initialiseBoard("#map","svg1","cursor","target");
        console.log("now collecting");
        var stop = false;
        var b = "#target", a = "#cursor";
        var tx = parseInt(d3.selectAll("#target").attr("x"))+25;
        var ty = parseInt(d3.selectAll("#target").attr("y"))+25;

        EyeTribe.loop(function(frame) {
            // console.log(frame);
            if (stop) return;
            moveCursor([frame.smoothedCoordinates], a);

            var cx = frame.smoothedCoordinates.x;
            var cy = frame.smoothedCoordinates.y;
            if ( (cx > tx) && cx<(tx+100) && (cy>ty) && cy<(ty+100) ) {
                changeColour(a);
                changeColour(b);
                var map = d3.select("#experiment");
                var div = map.append("div")
                            .html("Great job! Let's try again, but this time the target will be moving!")
                            .attr("class","text");    
                var button = map.append("a")
                                .attr("href","#experiment_pt2")
                                .attr("id","next")
                                .attr("role","button")
                                .attr("class","btn btn-primary btn-lg experiment-btn")
                                .html("Next level");
                stop = true;
            }
        });
    });

    // game time
    $('#experiment').on('click','#next', function() {
        initialiseBoard("#map2","svg2","cursor2","target2");
        console.log("now collecting again");
        var stop = false;
        var b = "#target2", a = "#cursor2";       
        var t = setInterval(function(){ moveTarget(b, svgwidth, svgheight) }, 1000);
        EyeTribe.loop(function(frame) {
            // console.log(frame);
            if (stop) return;
            moveCursor([frame.smoothedCoordinates], a);
            var cx = frame.smoothedCoordinates.x;
            var cy = frame.smoothedCoordinates.y;
            var tx = parseInt(d3.selectAll("#target").attr("x"))+25;
            var ty = parseInt(d3.selectAll("#target").attr("y"))+25;
            if ( (cx > tx) && cx<(tx+100) && (cy>ty) && cy<(ty+100) ) {
                changeColour(a);
                changeColour(b);
                var map = d3.select("#experiment_pt2");
                var div = map.append("div")
                            .html("Great job!")
                            .attr("class","text");
                clearInterval(t);        
                stop = true;
            }
        });
    });


    function initialiseBoard(map,svg_id,cursor,target) {
        //Make an SVG Container
        var svgContainer = d3.select(map).append("svg")
                                        .attr("id", svg_id)
                                        .attr("width", "90vw")
                                        .attr("height", "90vh");

        //Draw the Circle
        var circle = svgContainer.append("circle")
                                    .attr("cx", 50)
                                    .attr("cy", 50)
                                    .attr("r", 20)
                                    .attr("fill", "red")
                                    .attr("id",cursor);    

        //Draw the Target
        var target = svgContainer.append("rect")
                                    .attr("x", screen.width - 300)
                                    .attr("y", screen.height - 400)
                                    .attr("width", 100)
                                    .attr("height", 100)
                                    .attr("fill", "BlueViolet")
                                    .attr("id",target);                        
    }

    // Move the circle based on the new incoming data
    function moveCursor(new_point, name) {
        // console.log("calling moveCursor");
        var circle = d3.select(name)
                        .data(new_point)
                        .attr("cx", function(d) { return d.x; })
                        .attr("cy", function(d) { return d.y; })
                        .moveToFront();
    }

    // Move the circle based on the new incoming data
    function moveTarget(name, width, height) {
        var new_x = width*Math.random();
        var x = ((new_x + 100 > svgwidth) ?  new_x - 100: new_x);
        var new_y = height*Math.random();
        var y = ((new_y + 100 > svgheight) ? new_y - 100: new_y);
        var new_point = [{"x":x,"y":y}];
        var square = d3.select(name)
                        .data(new_point)
                        .attr("x", function(d) { return d.x; })
                        .attr("y", function(d) { return d.y; });
    }

    // for when the game is over and we just quickly want to hide the elements
    function changeColour( elem ) {
        var elem = d3.selectAll(elem)
                    .attr("fill", "white")
    }
});
    </script>
{% endblock %}