{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Eye Tracking | Image Viewing{% endblock %}

{% block head %} 
<link rel="stylesheet" href="{% static 'eyetracking/styles.css' %}">

<style>
svg { 
	border: 1px solid red;
	/*margin-left: 302px;
	background:transparent;
	position: absolute;
	display: block;
	z-index: 50;*/
}
</style>
{% endblock %}

{% block app-breadcrumbs %}
    <li><a href="{% url 'eyetracking:index' %}">Eye Tracking</a></li>
	<li class="active">Image Viewing</li>
{% endblock %}

{% block content %} 

    <div class="page-header">
        <h1>Eye Tracking <small>Image Viewing</small></h1>
    </div>
		<div class="container-fluid app-text-standard" style="height: 70vh">
			<p class="test-justify">When we usually look at an image, our eyes don't actually see very much of the fine details. Instead, it has been found that what we actually focus on and view in an image is dependent on the goals we have when we look at it.</p>
			<p class="test-justify">You will be shown the same image three times, but each time you will be asked a different question. Afterward, you will be able to visualise your eye gaze to see how your eye movements varied depending on the three different goals you were given, even though the image was identical.</p>
			<section class="text-center button-section" id="experiment-button" >
				<a href="#experiment_p1" id="to_pt1" role="button" class="btn btn-primary btn-lg"><span>Try it out</span><br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
			</section>
		</div>

		<div id="experiment_p1" class="container-fluid app-text-standard" >
            <p class="text-center lead">Please look at this image and when you are ready press the Next button.</p>   
            <div class="text-center" id="test">
				<img id="img1" src="{% static 'eyetracking/the_visitor.jpg' %}" alt="The Visitor" />
			</div>
			<form method="post" action="">
			{% csrf_token %}
			{{ form.image1.as_hidden }}
			<section class="text-center button-section" id="experiment-button">
				<a href="#experiment_p2" role="button" id="to_pt2" class="btn btn-primary btn-lg"><span>Next</span><br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
			</section>
		</div>

        <!--<svg class="overlay"> </svg>-->
        <div id="experiment_p2"  class="container-fluid app-text-standard">
            <p class="text-center lead">Look again at the image, this time can you guess what the ages of the people in the picture are?</p>   
            <div class="text-center"><img id="img2" src="{% static 'eyetracking/the_visitor.jpg' %}" alt="The Visitor" /></div>
			{{ form.image2.as_hidden }}
			<section class="text-center button-section" id="experiment-button">
				<a href="#experiment_p3" role="button" id="to_pt3" class="btn btn-primary btn-lg"><span>Next</span><br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
			</section>
		</div>

		<div id="experiment_p3"  class="container-fluid app-text-standard">
            <p class="text-center lead">Look again at the image, this time memorise the positions the objects in the room.</p>   
            <div class="text-center"><img src="{% static 'eyetracking/the_visitor.jpg' %}" alt="The Visitor" /></div>
			{{ form.image3.as_hidden }}
			<section class="text-center button-section" id="experiment-button">
				<button type="submit" value="Next" class="btn btn-primary btn-lg">See my eye gaze <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
			</section>
		</form>
		</div>
{% endblock %}

{% block script %} 
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{% static 'eyetracking/scroll.js' %}"></script>
<script>

$( document ).ready(function() {
		console.log( "ready!" );

        // get coordinates of image on the screen
        var x = $("#img1").position().left-100;
        var y = $("#img1").position().top-$(window).height()+50;
        var width = $("#img1").width();
        var height = $("#img1").height();
        console.log("x = ", x, ", y = ", y);

        var x2 = $("#img2").position().left-100;
        var y2 = $("#img2").position().top-($(window).height()*2)+50;
        var w2 = $("#img2").width();
        var h2 = $("#img2").height();
        console.log("x2 = ", x2, ", y2 = ", y2);
        // test if eye gaze point is within the coordinates

        // apply transform and store data
	
        // var svgContainer = d3.select(".overlay");

        // var nodes = [{"x": x, "y": y}];

        // svgContainer.append("circle")
        //                 .data(nodes)
        //                 .attr("class", "node")
        //                 .attr("cx", function(d) { return d.x;})
        //                 .attr("cy", function(d) { return d.y;})                 
        //                 .attr("r", "10");

        var eyedata_p1 = [];
        var eyedata_p2 = [];
        var eyedata_p3 = [];

        image1 = $('#id_image1');
        image2 = $('#id_image2');
        image3 = $('#id_image3');

        var stop_1 = false;
        var stop_2 = false;

        $('#to_pt1').click(function() {
            console.log("now collecting for part 1");
            EyeTribe.loop(function(frame) {
                if (stop_1) return;
                // console.log(frame);
                eyedata_p1.push(frame.dump());
                image1.val(JSON.stringify(eyedata_p1));
            });
        });

        $('#to_pt2').click(function() {
            stop_1=true;
            console.log("now collecting for part 2");
            EyeTribe.loop(function(frame) {
                if (stop_2) return;
                // console.log(frame);
                eyedata_p2.push(frame.dump());
                image2.val(JSON.stringify(eyedata_p2));
            });
        });

        $('#to_pt3').click(function() {
            stop_2=true;
            console.log("now collecting for part 3");
            EyeTribe.loop(function(frame) {
                // console.log(frame);
                eyedata_p3.push(frame.dump());
                image3.val(JSON.stringify(eyedata_p3));
            });
        });
    });
</script>
{% endblock %}