{% extends "base.html" %}

{% block title %} HCC Workshop | Eye Tracking {% endblock %}
{% block head %} 	
{% endblock %}
{% block app-breadcrumbs %}
	<li class="active">Eye Tracking </li>
{% endblock %}

{% block app-title %}Eye Tracking{% endblock %}

{% block content %} 
<div class="container-fluid " >
	<p class="text-justify">An eye tracker is a device that captures where you are looking. It has a lot of applications in human centred computing research and practice. One use is to simply record eye gaze to see where a user has looked, and another is to use eye tracking as a method of input to the computer. The latter use is of special importance when considering disabled people who may not be able to move thier hand and therefore not be able to control a mouse or keyboard.</p> 
	<p class="text-justify">Have a go at the following activities... </p>
</div>
{% endblock %}

{% block script %} 
{% endblock %}