{% extends "base.html" %}
{% load staticfiles %}

{% block title %}HCC Workshop | Eye Tracking{% endblock %}

{% block head %} 
{% endblock %}

{% block app-breadcrumbs %}
    <li class="active">Eye Tracking</li>
{% endblock %}

{% block content %} 
<div id="eyetracking-loader" class="help-overlay text-center"></div>
<div class="background-gif" id="eyegaze-bg-gif"></div>
<div class="jumbotron text-center app-splash">
    <h1 class="vertical-align animated bounceInLeft">Eye Tracking</h1>
</div>
<section class="app-text-standard container-fluid   ">
    <p class="text-justify">Eye tracking involves measuring what a person is looking at. The first eye tracker was actually invented to analyse how we read. Since then, psychologists have thoroughly studied the reading process.</p>
    <p class="text-justify">An eye tracker is a device that captures where you are looking. It has a lot of applications in human centred computing research and in practice. One use is to simply record eye gaze to see where a user has looked, and another is to use eye tracking as a method of input to the computer. The latter use is of special importance when considering disabled people who may not be able to move their hand and therefore not be able to control a mouse or keyboard.</p> 
</section>
<section class="app-text-standard container-fluid">
    <h2>Eye movements</h2>
    <p class="text-justify">Humans essentially have two type of vision - detailed and peripheral. Detailed vision is when details of a vision scene are actually encoded and is the reason we can do tasks such as reading, driving, watching TV, and playing sport. When you look at something the centre of your gaze is where the detailed visual information is encoded. The visual detail drops very rapidly as you move away from the centre of gaze. Take a look at an example of this in the picture below.</p>
    <div class="text-center">
    <img src="{% static 'home/images/visualAcuity.gif' %}" alt="Example of visual acuity" style="padding: 20px 0;">
    </div>
    <div class="row">
    <div class="text-justify col-sm-8 col-md-8 col-lg-8">
    <p class="text-justify">As a result, the eye is always moving so that the centre of gaze can be directed to different parts of the 
    visual stimulus so that visual scene can be put together in the brain. This means we read text in a very specific way,
    which is illustrated in the picture to the right. If you try out the <em>Eye Tracking for Reading Analysis</em> activity, you will be able to see your own reading pattern.</p>
    <p class="text-justify">In more technical terms, the centre of gaze is called a <strong>fixation</strong> and is where the eye remains (relatively) still to take in visual information. And a <strong>saccade</strong> is the rapid movement that transports the eye to another fixation. Little to no visual information is encoded during saccades. The image to the right visually illustrates fixations and saccades; the dots are the fixations and the lines between the fixations are the saccades.</p>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <img src="{% static 'home/images/illustration.png' %}" width="400" alt="Example of fixations on text">
    </div>
    </div>
    </section>
    <section class="container-fluid app-text-standard">
    <div class="text-center">
        <img src="{% static 'home/images/figure1.png' %}" width="250" alt="Example to show we do not read every word" style="padding-bottom: 20px">
    </div>
    <p class="text-center"><strong>Read the text in the triangle above. Did you fixate on every word?</strong></p>
    <p class="text-justify">It has been found that when reading English, people often do not fixate on every single word that they read. That means we often don’t actually <em>see</em> every single word when we read. Take another look at the triangle above, but this time read every word carefully. Did you notice the second 'of'? If you didn't, don't worry, as most people don't! This is one of the nuances of visual perception, and is something that eye tracking can help us study.</p>
</section>
<section class="app-text-standard">
    <div class="text-center">
        <h1>Activities</h1>
        <p class="lead">Great! Now you're prepared to tackle the activities and see it all for yourself.</p>
        <p class="lead">Remember, these activities only work from the Eye Tracking stations being run by ANU Ambassadors.</p>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-3 col-lg-3 inner-eye">
            <div class="eye-thumbnail eyetracking-btn" data-val='join-the-dots'>
                <img src="{% static 'home/images/dots.jpg' %}" alt="">
                <div class="eye-caption">
                    <h2>Join the Dots With Your Eyes</h2>
                    <button class="btn btn-default info"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 inner-eye">
            <div class="eye-thumbnail eyetracking-btn" data-val='mouse-controller'>
                <img src="{% static 'eyetracking/mouse-thumb.jpg' %}" alt="">
                <div class="eye-caption">
                    <h2>Eye Tracking as a Controller</h2>
                    <button class="btn btn-default info" href=""><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 inner-eye">
            <div class="eye-thumbnail eyetracking-btn" data-val='reading-analysis'>
                <img class="" src="{% static 'home/images/illustration.png' %}" alt="Eye tracking example of reading analysis" height="450px">
                <div class="eye-caption">
                    <h2>Eye Tracking for Reading</h2>
                    <button href="" class="btn btn-default info"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 inner-eye">
            <div class="eye-thumbnail eyetracking-btn" data-val='image-viewing'>
                <img class="" src="{% static 'home/images/yarbus.jpg' %}" alt="">
                <div class="eye-caption">
                    <h2>Eye Tracking for Images</h2>
                    <button class="btn btn-default info" href=""><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>		
    </div>
</section>
<section class="container-fluid app-text-other">
    <h2>How is this applicable to Human Centred Computing research?</h2>
    <p>Eye trackers were originally used for research such as in psychology to analyse reading behaviour, the way we 
    view images, and to help understand the visual system. These days eye trackers are used a lot in marketing and 
    product design and research into how to make computers work better for humans. An example of this in analysing 
    reading behaviour and adapting eLearning environments based a students’ reading behaviour. This is ongoing 
    research that is being conducted in the HCC group at ANU, the aim of which is to help create learning environments 
    that better help students learn.</p>
    <p>Another way in which eye tracking is used is as an input device for human computer interaction. Some people don’t 
    have the ability to use their hands which restricts their use of computers. They could use their eyes to control a 
    mouse or input keyboard commands!</p>
</section>
{% endblock %}
{% block script %} 
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
$(document).ready(function() {
    $(".eyetracking-btn").click(function() {
        var redirect = $(this).data('val');
        $('body').addClass('lock');
        $('#page-overlay').show();
        $('#eyetracking-loader').show();
        $('#eyetracking-loader').html('<h1>Detecting</h1><br><p>An eyetracking device is required for these activities.<br><br><br><br><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');
        
        var testSocket = new WebSocket("ws://localhost:6556");
        
        testSocket.onopen = function() {
            setTimeout(function() {$('#eyetracking-loader').html('<h1>Found</h1><br><p>Redirecting...</p>');setTimeout(function() {window.location.href = "/eye-tracking/"+redirect;},1000)},5000);
        };
        
        testSocket.onerror = function() {
            setTimeout(function() {$('#eyetracking-loader').html('<h1>Not Found</h1><br><p>These activities are only available at the eyetracking workstations.<br><br>Head over to one of the ANU Ambassadors to complete these activities.<br><br></p><button class="btn btn-default btn-lg" id="eyetracking-close-btn">Close</button>');},5000);
        };

    });

    $("#eyetracking-loader").on("click", "#eyetracking-close-btn", function() {
        $('body').removeClass('lock');
        $('#eyetracking-loader').hide();
        $('#page-overlay').hide();
    });
});
</script>
{% endblock %}