{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Join the dots {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{% static 'eyetracking/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
    <li><a href="{% url 'eyetracking:index' %}">Eye Tracking</a></li>
	<li><a href="{% url 'eyetracking:join-the-dots' %}">Join the dots</a></li>
	<li class="active">With my eye gaze</li>
{% endblock %}

{% block content %} 
	{% if False %}
	<div class="background-gif"></div>
		<div class="jumbotron text-center">
		<h1 class="vertical-align">Join the dots... with my eye gaze!</h1>
	</div>
	<div id="inner-container-fluid" class="container-fluid">
		<p>Whoops! Something seems to have gone wrong. Go back to the 
			<a href="{% url 'join_the_dots:index' %}">start page</a> for the activity and 
			make sure an <a href="https://theeyetribe.com/">EyeTribe</a> eye tracker is connected and running on this computer. 
		</p>
		<div class="container-fluid next-page text-center">
			<a href="{% url 'join_the_dots:eyegaze' %}" role="button" class="btn btn-primary btn-lg">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
				<span class="next-btn-primary-span">Reading Tracking Start Page</span>
			</a>
		</div>
	</div>
	{% else %}
	<div class="container-fluid " >
	<div id="showgaze" class="container">
		<div id="map"></div>

		<div class="container-fluid next-page text-center">
			<a href="{% url 'home:eyegazeinfo' %}" role="button" class="btn btn-primary btn-lg">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				<span class="next-btn-primary-span">Eye Tracking Information Sheet</span>
			</a>
			
		</div>
	</div>
	</div>
	{% endif %}
{% endblock %}
{% block script %} 
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var nodes = [{"x": screen.width*0.05, "y": screen.height*0.05}, {"x": screen.width*0.05,"y": screen.height*0.5}, 
                {"x": screen.width*0.05,"y": screen.height*0.25}, {"x": screen.width*0.25,"y": screen.height*0.25}, 
                {"x": screen.width*0.25,"y": screen.height*0.05}, {"x": screen.width*0.25,"y": screen.height*0.5}, 
                {"x": screen.width*0.55,"y": screen.height*0.5}, {"x": screen.width*0.47,"y": screen.height*0.5}, 
                {"x": screen.width*0.375,"y": screen.height*0.4}, {"x": screen.width*0.33,"y": screen.height*0.25}, 
                {"x": screen.width*0.375,"y": screen.height*0.11}, {"x": screen.width*0.47,"y": screen.height*0.05}, 
                {"x": screen.width*0.55,"y": screen.height*0.05}, 
                {"x": screen.width*0.87,"y": screen.height*0.05}, {"x": screen.width*0.8,"y": screen.height*0.05},
                {"x": screen.width*0.7,"y": screen.height*0.11}, {"x": screen.width*0.65,"y": screen.height*0.25}, 
                {"x": screen.width*0.7,"y": screen.height*0.4}, {"x":screen.width*0.8,"y": screen.height*0.5}, 
                {"x": screen.width*0.87,"y": screen.height*0.5},
                {"x": -100,"y": -100}]

var svg = d3.select("#map").append("svg")
                    .attr("width", "100vw")
                    .attr("height", "70vh");
	nodes.forEach(function(d) {
			svg.append("circle")
				.datum(d)
				.attr("class", "node")
				.attr("cx", function(d) {
					return d.x;
				})
				.attr("cy", function(d) {
					return d.y;
				})                 
				.attr("r", "10");               
	});

// Plot the gaze data from the previous screen using D3.js:
data = {{ data|safe }};

//This is the accessor function we talked about above
var lineFunction = d3.line()
						.x(function(d) { return d.x; })
						.y(function(d) { return d.y; });
						
//The SVG Container
var svgContainer = d3.select("body").append("svg")
					.attr("width", "100vw")
					.attr("height", "80vh")
					.attr("class", "overlay");

//The line SVG Path we draw
var lineGraph = svgContainer.append("path")
						.attr("d", lineFunction(data))
						.attr("stroke", "blue")
						.attr("stroke-width", 2)
						.attr("fill", "none");	

var circles = svgContainer.selectAll("circle")
                          .data(data)
                          .enter()
                          .append("circle");

var circleAttributes = circles
                       .attr("cx", function (d) { return d.x; })
                       .attr("cy", function (d) { return d.y; })
                       .attr("r", 5)
					   .attr("class", "gaze")		  
</script>
{% endblock %}