{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Reading Tracking {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{% static 'eyetracking/styles.css' %}">
<style>
	body {
		overflow: scroll;
	}
</style>
{% endblock %}

{% block app-breadcrumbs %}
	<li><a href="{% url 'eyetracking:index' %}">Eye Tracking</a></li>
	<li><a href="{% url 'eyetracking:reading-analysis' %}">Reading Tracking</a></li>
	<li class="active">Results</li>
{% endblock %}

{% block content %} 
	<div id="showgaze" class="container">
		<div class="experiment-text">
				Right now your eye movements are being tracked. This allows us to see what you are looking at 
				and analyse your reading behaviour. When you click the next button you will be able to see 
				which part of this page you were looking at, as well as how you read this text. The circles are
				where your eyes took in visual information, these are termed fixations. The lines between the 
				circles are called saccades, this is when your eye moves rapidly to another point of fixation.	
		</div>
<section class="app-text-highlight">
	<div class="text-center vertical-align">
	    <h1>Level Up</h1>
		<p class="lead">Feast your eyes on this.</p>
		<button role="button" class="btn btn-default btn-lg" href="#" id="level-up"><span class="btn-primary-span">Level Up</span><i class="fa fa-level-up" aria-hidden="true"></i></a>
    </div>
</section>
	</div>
	<!--</div>-->
{% endblock %}
{% block script %} 
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
// Plot the gaze data from the previous screen using D3.js:
data = {{ data|safe }};

//This is the accessor function we talked about above
var lineFunction = d3.line()
						.x(function(d) { return d.x; })
						.y(function(d) { return d.y; });
						
//The SVG Container
var svgContainer = d3.select("body").append("svg")
					.attr("width", "100vw")
					.attr("height", "80vh")
					.attr("class", "overlay");

//The line SVG Path we draw
var lineGraph = svgContainer.append("path")
						.attr("d", lineFunction(data))
						.attr("stroke", "blue")
						.attr("stroke-width", 2)
						.attr("fill", "none");	

var circles = svgContainer.selectAll("circle")
                          .data(data)
                          .enter()
                          .append("circle");

var circleAttributes = circles
                       .attr("cx", function (d) { return d.x; })
                       .attr("cy", function (d) { return d.y; })
                       .attr("r", 5)			  
</script>
{% endblock %}