{% extends "base.html" %}
{% load staticfiles %}
{% block title %} HCC Workshop | Reading Analysis {% endblock %}

{% block head %} 
	<link rel="stylesheet" href="{% static 'eyetracking/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
    <li><a href="{% url 'eyetracking:index' %}">Eye Tracking</a></li>
	<li class="active">Reading Analysis</li>
{% endblock %}

{% block content %} 
	<div class="background-gif" id="reading-gif"></div>
	<div class="jumbotron text-center app-splash">
		<h1 class="vertical-align animated bounceInLeft" style="color: black;">Eye Tracking for Reading Analysis</h1>
	</div>

		<div class="container-fluid app-text-standard">
			<p class="text-justify">Using eye trackers, we can capture the different eye movements we make when we read. There are many specific characteristics of eye gaze during reading. 
			</p>
			<p class="text-justify">In this activity, you will read a small paragraph of text in order to visualise your eye gaze during reading.
			</p>
			<section class="text-center">
				<a id="start" href="#experiment" role="button" class="btn btn-primary btn-lg"><span>Try it out</span><br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
			</section>
		</div>
			
		<div id="experiment" class="container reading-experiment">
			<div class="experiment-text">
				Right now your eye movements are being tracked. This allows us to see what you are looking at 
				and analyse your reading behaviour. When you click the next button you will be able to see 
				which part of this page you were looking at, as well as how you read this text. The circles are 
				where your eyes took in visual information, these are termed fixations. The lines between the 
				circles are called saccades, this is when your eye moves rapidly to another point of fixation.	
			</div>
			<form method="post" action="">
				{% csrf_token %}
				{{ form.gazedata.as_hidden }}
				<div class="container-fluid next-page text-center">
				<button type="submit" value="Next" class="btn btn-primary btn-lg">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
				</div>
			</form>
			<p></p>
		</div>
{% endblock %}

{% block script %} 
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{% static 'eyetracking/scroll.js' %}"></script>
<script>
	var eyedata = [];
	etdata = $('#id_gazedata');
	$('#start').click(function() {
		console.log("now collecting");
		EyeTribe.loop(function(frame) {
				eyedata.push(frame.dump());
				etdata.val(JSON.stringify(eyedata));
			});
	});
</script>
{% endblock %}