{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Eye Controller {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'eye_controller/styles.css' %}">
    
{% endblock %}

{% block app-title %}Eye Controller{% endblock %}

{% block content %} 
	<div class="background-gif"></div>
	<div class="jumbotron text-center app-splash">
		<h1 class="vertical-align animated bounceInLeft" style="color: black">Eye Tracking as a Controller</h1>
	</div>
	
    {% if False %}
        <p class="text-justify">Unfortunately, no eye tracker has been detected, if you have an EyeTribe connected, check the connection through the EyeTribe software and reload this page. If you do not have an EyeTribe connected to this computer please either move to a computer with one connected, of connect one. </p>
        <p class="text-justify">If you are interested in finding out more about the EyeTribe eye tracker please visit the EyeTribe's website: theeyetribe.com </p>
        <p class="text-justify">If you're interested in finding out more about eye tracking you can read the <a href="{% url 'home:eyegazeinfo' %}">information page</a> on eye tracking. </p>
        <div class="container-fluid next-page text-center">
            <a href="{% url 'home:dashboard' %}" role="button" class="btn btn-primary btn-lg">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="next-btn-primary-span">Dashboard</span>
            </a>
        </div>
    {% else %}
	<div id="intro">
		<p class="text-justify">An eye tracker is a device that captures where you are looking. It has a lot of applications in human computer interaction research and practice. You may have already completed the join the dots activity where the eye tracker recorded where you are looking and this was then plotted on the screen for you to see. Another use of eye tracking is its use as a method of input to the computer. This is of special importance when considering disabled people who may not be able to move thier hand and therefore not be able to control a mouse or keyboard.</p>
        <p class="text-justify">In this activity you will control an object on the screen with your eyes. The goal will be to move the object into a target location - a bit like moving a mouse cursor onto a button!</p> 
		<section class="text-center button-section" id="experiment-button">
			<a id="start" href="#experiment" role="button" class="btn btn-primary btn-lg"><span>Try it out</span><br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</section>
    </div>
	<div id="experiment" class="container">
		<div id="map">
        </div>  
	</div>
    <div id="experiment_pt2" class="container">
		<div id="map2">
        </div>  
	</div>

    {% endif %}
    </div>
{% endblock %}

{% block script %} 
	 <script type="text/javascript" src="{% static 'reading_tracking/scroll.js' %}"></script>
     <script type="text/javascript" src="{% static 'eye_controller/tofront.js' %}"></script>
    <script>

    var svgheight= document.getElementById('map').offsetHeight;
    var svgwidth = document.getElementById('map').offsetWidth;

    // practice run
    $('#start').click(function() {
        initialiseBoard("#map","svg1");
        console.log("now collecting");
        var stop = false;
        var b = "#target", a = "#cursor";
        var tx = parseInt(d3.selectAll("#target").attr("x"))+25;
        var ty = parseInt(d3.selectAll("#target").attr("y"))+25;

        EyeTribe.loop(function(frame) {
            // console.log(frame);
            if (stop) return;
            moveCursor([frame.smoothedCoordinates]);
            var cx = frame.smoothedCoordinates.x;
            var cy = frame.smoothedCoordinates.y;
            if ( (cx > tx) && cx<(tx+100) && (cy>ty) && cy<(ty+100) ) {
                changeColour(a);
                changeColour(b);
                var map = d3.select("#experiment");
                var div = map.append("div")
                            .html("Great job! The board will redraw again, except this time your target will be moving and  you'll be timed.")
                            .attr("class","text");    
                var button = map.append("a")
                                .attr("href","#experiment_pt2")
                                .attr("id","next")
                                .attr("class","btn btn-primary btn-lg experiment-btn")
                                .html("Next level");
                stop = true;
            }
        });
    });

    // game time
    $('#next').click(function() {
        var svgheight= document.getElementById('map').offsetHeight;
        var svgwidth = document.getElementById('map').offsetWidth;

        initialiseBoard("#map2","svg2");
        console.log("now collecting");
        var stop = false;
        var b = "#target", a = "#cursor";
        // var t = setInterval(moveTarget([{"x": svgwidth*Math.random(), "y": svgheight*Math.random()}]), 500);
       
        // // moveTarget([{"x": svgwidth*Math.random(), "y": svgheight*Math.random()}]);
        // EyeTribe.loop(function(frame) {
        //     // console.log(frame);
        //     if (stop) return;
        //     moveCursor([frame.smoothedCoordinates]);
            
        //     var cx = frame.smoothedCoordinates.x;
        //     var cy = frame.smoothedCoordinates.y;
        //     var tx = parseInt(d3.selectAll("#target").attr("x"))+25;
        //     var ty = parseInt(d3.selectAll("#target").attr("y"))+25;
        //     if ( (cx > tx) && cx<(tx+100) && (cy>ty) && cy<(ty+100) ) {
        //         changeColour(a);
        //         changeColour(b);
        //         var map = d3.select("#experiment_pt2");
        //         var div = map.append("div")
        //                     .html("Great job!")
        //                     .attr("class","text");
                        
        //         // var button = svgContainer.append("a")
        //         //                 .attr("href","#experiment_pt2")
        //         //                 .attr("id","next")
        //         //                 .append("rect")  
        //         //                 .attr("x", 300)
        //         //                 .attr("y", 300)
        //         //                 .style("fill", "rgb(149,47,55)")
        //         //                 .attr("height", 100)
        //         //                 .attr("width", 200);
        //         stop = true;
        //     }
        // });
    });

    function initialiseBoard(map,svg_id) {
        //Make an SVG Container
        var svgContainer = d3.select(map).append("svg")
                                        .attr("id", svg_id)
                                        .attr("width", "90vw")
                                        .attr("height", "90vh");

        //Draw the Circle
        var circle = svgContainer.append("circle")
                                    .attr("cx", 50)
                                    .attr("cy", 50)
                                    .attr("r", 20)
                                    .attr("fill", "red")
                                    .attr("id","cursor");    

        //Draw the Target
        var target = svgContainer.append("rect")
                                    .attr("x", screen.width - 300)
                                    .attr("y", screen.height - 400)
                                    .attr("width", 100)
                                    .attr("height", 100)
                                    .attr("fill", "BlueViolet")
                                    .attr("id","target");                        
    }

    // Move the circle based on the new incoming data
    function moveCursor(new_point) {
        var circle = d3.selectAll("#cursor")
                        .data(new_point)
                        .attr("cx", function(d) { return d.x; })
                        .attr("cy", function(d) { return d.y; })
                        .moveToFront();
    }

    // Move the circle based on the new incoming data
    function moveTarget(new_point) {
        var circle = d3.selectAll("#target")
                        .data(new_point)
                        .attr("x", function(d) { return d.x; })
                        .attr("y", function(d) { return d.y; });
    }

    // for when the game is over and we just quickly want to hide the elements
    function changeColour( elem ) {
        var elem = d3.selectAll(elem)
                    .attr("fill", "white")
    }


    </script>
{% endblock %}