{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}HCC Workshop | Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/dashboard.css' %}" />
{% endblock %}

{% block menu %}
{% endblock %}    

{% block app-title %}Dashboard {% endblock %}

{% block content %}
 <div class="jumbotron dash-splash text-left">
	<h1 class="animated slideInUp">{{ greeting|random }}</h1>
	<p>Click any of the activities to get started</p>
</div>
<section class="app-text-standard container-fluid">
	<div class="text-center vertical-align" style="padding-bottom: 20px">
		<h1 class="text-center">Research Areas</h1>
		<p class="lead">Explore some of the topics we work on</p>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'design:index' %}"><img class="app-thumbnail-img" src="{% static 'home/images/hci-thumb.jpg' %}" alt=""></a>
				<div class="caption title-caption">
					<h3>Human Computer Interaction</h3>
					<div class="content-caption">
						<p>Learn some of the basics.</p>
						<a class="btn btn-default" href="{% url 'design:index' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'cybersecurity:index' %}">
					<img class="app-thumbnail-img {% if '/cyber-security/phishing' in completes %}fade-image{% endif %}" src="{% static 'home/images/cyber-thumb.png' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/cyber-security/phishing' in completes %}fade-text{% endif %}">
					<h3>Cyber Security</h3>
					<div class="content-caption">
						<p>More than just a buzzword.</p>
						<a class="btn btn-default" href="{% url 'cybersecurity:index' %}">
							<span class="btn-primary-span">
								{% if '/cyber-security/phishing' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'image_manipulation:index' %}">
					<img class="app-thumbnail-img {% if '/image-manipulation/results/' in completes %}fade-image{% endif %}" src="{% static 'home/images/image-manipulation-thumb.png' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/image-manipulation/results/' in completes %}fade-text{% endif %}">
					<h3>Manipulated Images</h3>
					<div class="content-caption">
						<p>Can you tell if an image has been photoshopped?</p>
						<a class="btn btn-default" href="{% url 'image_manipulation:index' %}">
							<span class="btn-primary-span">
								{% if '/image-manipulation/results/' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'neural_networks:index' %}">
					<img class="app-thumbnail-img {% if '/neural-networks/' in completes %}fade-image{% endif %}" src="{% static 'home/images/preview.png' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/neural-networks/' in completes %}fade-text{% endif %}">
					<h3>Neural Networks</h3>
					<div class="content-caption">
						<p>Machine learning inspired by your brain.</p>
						<a class="btn btn-default" href="{% url 'neural_networks:index' %}">
							<span class="btn-primary-span">
								{% if '/neural-networks/' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="dashboard-container-fluid" class="container-fluid">
	<div class="text-center vertical-align eyegaze-title">
		<h1>Measurements and devices</h1>
		<p class="lead">Test the gadgets and technology</p>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'home:eeg' %}">
					<img class="app-thumbnail-img {% if '/eeg' in completes %}fade-image{% endif %}" src="{% static 'home/images/other-thumb.jpg' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/eeg' in completes %}fade-text{% endif %}">
					<h3>Electroencephalography</h3>
					<div class="content-caption">
						<p>Takes brain effort just to say.</p>
						<a class="btn btn-default" href="{% url 'home:eeg' %}">
							<span class="btn-primary-span">
								{% if '/eeg' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'home:ecg' %}">
					<img class="app-thumbnail-img {% if '/ecg' in completes %}fade-image{% endif %}" src="{% static 'home/images/ecg-thumb.jpg' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/ecg' in completes %}fade-text{% endif %}">
					<h3>Electrocardiography</h3>
					<div class="content-caption">
						<p>Watch your heartbeat race.</p>
						<a class="btn btn-default" href="{% url 'home:ecg' %}">
							<span class="btn-primary-span">
								{% if '/ecg' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'home:gestures' %}">
					<img class="app-thumbnail-img {% if '/gestures' in completes %}fade-image{% endif %}" src="{% static 'home/images/gesture-thumb.jpg' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/gestures' in completes %}fade-text{% endif %}">
					<h3>Gestures and Body movement</h3>
					<div class="content-caption">
						<p>These are not the droids you are looking for.</p>
						<a class="btn btn-default" href="{% url 'home:gestures' %}">
							<span class="btn-primary-span">
								{% if '/gestures' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="thumbnail activity-thumbnail">
				<a href="{% url 'home:eda' %}">
					<img class="app-thumbnail-img {% if '/eda' in completes %}fade-image{% endif %}" src="{% static 'home/images/gsr-thumb.jpg' %}" alt="">
				</a>
				<div class="caption title-caption {% if '/eda' in completes %}fade-text{% endif %}">
					<h3>Electrodermal activity</h3>
					<div class="content-caption">
						<p>Do you sweat when you're nervous?</p>
						<a class="btn btn-default" href="{% url 'home:eda' %}">
							<span class="btn-primary-span">
								{% if '/eda' in completes %}
								Completed
							</span>
							<i class="fa fa-check" aria-hidden="true"></i>
								{% else %}
								Launch
							</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
								{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="eyetracker-activities" class="container-fluid" style="border-bottom: 1px solid #f7f7f7">
	<div class="text-center vertical-align eyegaze-title">
		<h1>Eye Tracking</h1>
		<p class="lead">Visualise the way in which you view the screen</p>
		<a class="btn btn-default btn-lg" href="{% url 'eyetracking:index' %}">Try it out</a>
	</div>
</section>
<section class="container-fluid app-text-standard">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail activity-thumbnail">
						<a href="{% url 'thatcher:index' %}">
							<img class="app-thumbnail-img {% if '/the-thatcher-effect/' in completes %}fade-image{% endif %}" src="{% static 'home/images/thatcher.png' %}" alt="">
						</a>
						<div class="caption title-caption {% if '/the-thatcher-effect/' in completes %}fade-text{% endif %}">
							<h3>The Thatcher Effect</h3>
							<div class="content-caption">
								<p>Trick your brain!</p>
								<a class="btn btn-default" href="{% url 'thatcher:index' %}">
									<span class="btn-primary-span">
										{% if '/the-thatcher-effect/' in completes %}
										Completed
									</span>
									<i class="fa fa-check" aria-hidden="true"></i>
										{% else %}
										Launch
									</span>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
										{% endif %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="text-center vertical-align">
				<h1>Bonus Activities</h1>
				<p class="lead">Gain some extra levels</p>
			</div>
		</div>
	</div>
</section>
<section class="app-text-highlight">
	<div class="text-center vertical-align">
		<h1>Want to stay up to date?</h1>
		<p class="lead">Sign up for the ANU College of Engineering and Computer Science newsletter. <span class="small">This is completely voluntary.</span></p>
		<a href="{% url 'home:newsletter' %}" class="btn btn-primary">
			<i class="fa fa-envelope" aria-hidden="true"></i>
			<span class="btn-primary-span">Subscribe For Newsletter</span>
		</a>
	</div>
</section>
{% endblock %}

{% block script %}
<script>
$("#eyetracking-btn").click(function() {
	$('#page-overlay').show();
	$('#eyetracking-loader').show();
	$('#eyetracking-loader').html('<h1>Detecting</h1><br><p>An eyetracking device is required for these activities.<br><br><br><br><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');

	var testSocket = new WebSocket("ws://localhost:6556");
	
	testSocket.onopen = function() {
		setTimeout(function() {$('#eyetracking-loader').html('<h1>Found</h1><br><p>Redirecting...</p>');setTimeout(function() {window.location.href = "/eye-tracking/";},1000)},5000);
	};
	
	testSocket.onerror = function()  {
		setTimeout(function() {$('#eyetracking-loader').html('<h1>Not Found</h1><br><p>These activities are only available at the eyetracking workstations.<br><br>Please try again or talk to one of the ANU workshop instructors.<br><br></p><button class="btn btn-default btn-lg" id="eyetracking-close-btn">Close</button>');},5000);
	};

});

$("#eyetracking-loader").on("click", "#eyetracking-close-btn", function() {
	$('#eyetracking-loader').hide();
	$('#page-overlay').hide();
});
</script>
<script>
$(function() {
	// If the user hasnt visited before, force display the instructions
	if ("{{visited}}" == "False") {
		$('#instructions-modal').modal();
	} else {
		// If the user HAS visited, do nothing.
	}
});
 </script>
{% endblock %}
