{% extends "base.html" %}
{% load staticfiles %}

{% block title %}HCC Workshop | Dashboard{% endblock %}

{% block head %}	
{% endblock %}

{% block menu %}
{% endblock %}    

{% block app-title %}Dashboard {% endblock %}

{% block content %}
            <div class="jumbotron dash-splash text-left">
				<h1 class="animated slideInUp">Welcome, {{ user.first_name|title }}!</h1>
				<p>Click any of the activities to get started.</p>
			</div>
			<section id="eyetracker-activities" class="container-fluid">
				<div class="text-center vertical-align eyegaze-title">
					<h1>Eye Tracking</h1>
					<p class="lead">Visualise the way in which you view the screen.</p>
					<a class="btn btn-default btn-lg" href="{% url 'eyetracking:index' %}">Try it out</a>
				</div>
				</section>
				<section id="dashboard-container-fluid" class="container-fluid">
					<div class="text-center vertical-align">
				<h1 class="text-center">Research Areas</h1>
				<p class="lead">Explore some of the topics we work on.</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-4 col-sm-4">
						<div class="thumbnail activity-thumbnail">
							<a href="{% url 'cybersecurity:index' %}"><img class="app-thumbnail-img" src="{% static 'home/images/cyber.png' %}" alt=""></a>
							<div class="caption title-caption">
								<h3>Cyber Security</h3>
								<div class="content-caption">
									<p>Learn about security!</p>
								<a class="btn btn-default" href="{% url 'cybersecurity:index' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-4">
						<div class="thumbnail activity-thumbnail">
							<a href="{% url 'home:other_research' %}"><img class="app-thumbnail-img" src="{% static 'home/images/other-thumb.jpg' %}" alt=""></a>
							<div class="caption title-caption">
								<h3>Other Research</h3>
								<div class="content-caption">
									<p>See what else we do!</p>
								<a class="btn btn-default" href="{% url 'home:other_research' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-4">
						<div class="thumbnail activity-thumbnail">
							<a href=""><img class="app-thumbnail-img" src="http://placekitten.com/400/300" alt=""></a>
							<div class="caption title-caption">
								<h3>Human Computer Interaction</h3>
								<div class="content-caption">
									<p>See what else we do!</p>
								<a class="btn btn-default" href="{% url 'home:other_research' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container-fluid app-text-standard">
                <div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
						<div class="thumbnail activity-thumbnail">
							<a href="{% url 'thatcher:index' %}"><img class="app-thumbnail-img" src="{% static 'home/images/thatcher.png' %}" alt=""></a>
							<div class="caption title-caption">
								<h3>The Thatcher Effect</h3>
								<div class="content-caption">
									<p>Trick your brain!</p>
									<a class="btn btn-default" href="{% url 'thatcher:index' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="text-center vertical-align">
						<h1>Bonus Activities</h1>
						<p class="lead">Play around with some of our extra material.</p>
						</div>
					</div>
				</div>
				<br/>
			</section>
			<section class="app-text-highlight">
				<div class="text-center vertical-align">
					<h1>Take it home</h1>
					<p class="lead">Email your work to yourself to show it off later.</p>
				</div>
			</section>
				
{% endblock %}

{% block script %}
<script>


$("#eyetracking-btn").click(function() {
	$('#page-overlay').show();
	$('#eyetracking-loader').show();
	$('#eyetracking-loader').html('<h1>Detecting</h1><br><p>An eyetracking device is required for these activities.<br><br><br><br><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');

	var testSocket = new WebSocket("ws://localhost:6556");
	
	testSocket.onopen = function() {
		setTimeout(function() {$('#eyetracking-loader').html('<h1>Found</h1><br><p>Redirecting...</p>');setTimeout(function() {window.location.href = "/eye-tracking/";},1000)},5000);
	};
	
	testSocket.onerror = function()  {
		setTimeout(function() {$('#eyetracking-loader').html('<h1>Not Found</h1><br><p>These activities are only available at the eyetracking workstations.<br><br>Please try again or talk to one of the ANU workshop instructors.<br><br></p><button class="btn btn-default btn-lg" id="eyetracking-close-btn">Close</button>');},5000);
	};

});

$("#eyetracking-loader").on("click", "#eyetracking-close-btn", function() {
	$('#eyetracking-loader').hide();
	$('#page-overlay').hide();
});
</script>
{% endblock %}
