{% extends "base.html" %}
{% load staticfiles %}

{% block title %}HCC Workshop | Dashboard{% endblock %}

{% block head %}	
{% endblock %}

{% block menu %}
{% endblock %}    

{% block app-title %}Dashboard {% endblock %}

{% block content %}
            <div class="jumbotron text-left">
				<h1>Welcome, {{ user.username|title }}</h1>
				<p>Click one of the activities to get started.</p>
			</div>
			<section id="eyetracker-activities" class="container-fluid">
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="row">
								<div class="col-xs-6 col-md-6 col-lg-6 inner-eye">
									<div class="eye-thumbnail">
										<a href="">
											<img src="{% static 'home/images/dots.jpg' %}" alt="">
											<div class="eye-caption">
											<h2>Join the Dots With Your Eyes</h2>
											<button class="btn btn-default info" href=""><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
										</div></a>
									</div>
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 inner-eye">
									<div class="eye-thumbnail">
										<a href="">
											<img src="{% static 'home/images/controller.png' %}" alt="">
											<div class="eye-caption">
											<h2>Eye Tracking as a Controller</h2>
											<button class="btn btn-default info" href=""><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
										</div></a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-md-6 col-lg-6 inner-eye">
									<div class="eye-thumbnail">
										<a href="">
										<img class="" src="{% static 'home/images/illustration.png' %}" alt="Eye tracking example of reading analysis" height="450px">
										<div class="eye-caption">
											<h2>Eye Tracking for Reading</h2>
											<button href="" class="btn btn-default info"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
										</div>
										</a>
									</div>
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 inner-eye">
									<div class="eye-thumbnail">
										<a href="">
										<img class="" src="{% static 'home/images/yarbus.jpg' %}" alt="">
										<div class="eye-caption">
											<h2>Eye Tracking for Images</h2>
											<button class="btn btn-default info" href=""><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
										</div>
										</a>
									</div>
								</div>

							</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="text-center vertical-align eyegaze-title">
							<h1 >Eye Tracking</h1>
							<p class="lead">Visualise the way in which you view the screen.</p>
						</div>
					</div>
					</div>
				</section>
			<section id="dashboard-container-fluid" class="container-fluid ">
                <div class="row">
					<div class="col-md-4">
						<div class="thumbnail activity-thumbnail">
							<a href="{% url 'thatcher:index' %}"><img class="app-thumbnail-img" src="{% static 'home/images/thatcher.png' %}" alt=""></a>
							<div class="caption title-caption">
								<h3>The Thatcher Effect</h3>
								<div class="content-caption">
									
								<p>Trick your brain!</p>
								<a class="btn btn-default" href="{% url 'thatcher:index' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
							</div>
							</div>

						</div>
						
					</div>
					<div class="col-md-4">
						<div class="thumbnail activity-thumbnail">
							<a href="{% url 'cybersecurity:index' %}"><img class="app-thumbnail-img" src="{% static 'home/images/cyber.png' %}" alt=""></a>
							<div class="caption title-caption">
								<h3>Cyber Security</h3>
								<div class="content-caption">
									<p>Learn about security!</p>
								<a class="btn btn-default" href="{% url 'cybersecurity:index' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail activity-thumbnail">
							<a href="{% url 'other_research:index' %}"><img class="app-thumbnail-img" src="{% static 'home/images/other-thumb.jpg' %}" alt=""></a>
							<div class="caption title-caption">
								<h3>Other Research</h3>
								<div class="content-caption">
									<p>See what else we do!</p>
								<a class="btn btn-default" href="{% url 'other_research:index' %}"><span class="btn-primary-span">Launch</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br/>

				</section>
{% endblock %}


