{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
HCC Workshop | Driving Simulator
{% endblock %}

{% block app-breadcrumbs %}
<li class="active">Driving Simulator</li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/other-research.css' %}">
{% endblock %}

{% block content %} 
    <div class="background-gif"></div>
    <div class="jumbotron text-center app-splash">
		<h1 class="vertical-align animated bounceInLeft" style="color: black">Driving Simulator</h1>
	</div>
	<section class="container-fluid app-text-other">
		<h2 class="vertical-align">Gestures and Body Movement</h2>
		<p class="text-justify">The Human Centred Computing (HCC) research group at ANU collects a wide range of psychophysiological data from participants as they carry out various tasks similar to those which you have been doing today. One of the main sources of signal that is used in our research is electrocardiography, which is the process of recording the electrical acitivity of the heart.</p>
		<p>By measuring this heart rate activity, we can calculate measures such as heart rate variability - the time interval between heartbeats - or the change in heart rate - the number of heart contractions. We are able to feed this raw data into intelligent computational algorithms such as neural networks or other statistical models in order to make inferences about a person's mood, behaviour or comprehension when performing computer based tasks. As humans and machines interact hundreds of times in our daily lives, it is becoming increasingly important to find ways in which machines can understand humans in order to make these interactions easier.</p>
		<p>Alert! What are psychophysiological signals? <br>These are your physiological and physical responses to psychological and cognitive processes. Put simply we measure heart rate, brain waves, eye movements, skin temperature, pupil dilation, accelerometer data, and much more. We analyse this data to make inferences about the psychological and cognitive processes that are occuring, such as reading comprehension, visual inspection of images, or whether you think an email is spam or not. </p>
	</section>
	<section class="container-fluid app-text-standard">
		<h2 class="vertical-align">Collecting gesture and body movement data</h2>
		<div class="row">
			<div class="col-md-8">
				<p class="text-justify">Measuring psychophysiological signals requires a number of specialist devices. To collect ECG and GSR data, the Human Centred Computing research group uses an Empatica E4. Built by a startup out of Massachusetts Institute of Technology in Cambridge, USA, the Empatica E4 is a portable wristband that collects research-grade data, including ECG in the form of HRV, and GSR. </p>
				<p>We have a number of Empatica E4 devices available for you to try on and use. The E4s pair with an iOS device to allow researchers to visualise and stream data in real time. Please approach the Empatica E4 station to try on one of these devices.</p>
				<p>Use an iOS device? Tired of waiting? Install the free Empatica application, approach an instructor and try it out on your own iOS device!</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="{% static 'home/images/e4.png' %}" alt="e4" width="40%"/>
			</div>
		</div>	
		<div class="text-center" style="margin-top:40px">
			<img src="{% static 'home/images/empatica_results.png' %}" alt="empatica_results" width="60%"/>
		</div>		
	</section>
	<section class="app-text-highlight">
		<div class="text-center vertical-align">
			<h1>Level Up</h1>
			<p class="lead">Read all of that? Here's another level.</p>
			<button role="button" class="btn btn-default btn-lg" href="#" id="level-up"><span class="btn-primary-span">Level Up</span><i class="fa fa-level-up" aria-hidden="true"></i></a>
		</div>
	</section>

{% endblock %}
{% block script %} 
	
{% endblock %}