{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
HCC Workshop | Electrocardiography
{% endblock %}

{% block app-breadcrumbs %}
<li class="active">Electrocardiography</li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/signals.css' %}">
{% endblock %}

{% block content %} 
<div class="content-container">
	<section class="titlebar">
		<h1 class="vertical-align animated bounceInLeft">Electrocardiography</h1>
	</section>
	<section class="main-content">
		<h2>What we do</h2>
		<p class="text-justify">The Human Centred Computing (HCC) research group at ANU collects a wide range of psychophysiological data from participants as they carry out various tasks similar to those which you have been doing today. One of the main sources of signal that is used in our research is <strong><em>electrocardiography</em></strong>, which is the process of recording the electrical activity of the heart.</p>
		<h2>Why we do it</h2>
		<p class="text-justify">By measuring this heart rate activity, we can calculate measures such as heart rate variability - the time interval between heartbeats - or the change in heart rate - the number of heart contractions per time interval. We are able to feed this raw data into intelligent computational algorithms such as neural networks or other statistical models in order to make inferences about a person's mood, behaviour or comprehension when performing computer based tasks. As humans and machines interact hundreds of times in our daily lives, it is becoming increasingly important to find ways in which machines can understand humans in order to make these interactions easier. </p>
		<h2 class="vertical-align">Collecting and visualising ECG data</h2>
		<p class="text-justify">Measuring psychophysiological signals requires a number of specialist devices. To collect ECG and GSR data, the Human Centred Computing research group uses an Empatica E4. Built by a startup out of Massachusetts Institute of Technology in Cambridge, USA, the Empatica E4 is a portable wristband that collects research-grade data, including ECG in the form of HRV through plethysmography. You can think of it as a fancy version of the range of fitness health trackers available on the market, such as a fitbit. </p>
		<p class="text-justify">In this activity, we have a number of Empatica E4 devices available for you to try on and use. The E4s pair with an iOS device to allow researchers to visualise and stream data in real time. </p>
		<p class="text-justify">The graph below is a sample of the output of the E4 devices. The E4 collects GSR, ECG and also accelerometer data. Can you tell which of the graphs below correspond to each? </p>
		<div class="text-center" style="margin: 50px 0">
			<!--<img src="{% static 'home/images/e4.png' %}" alt="e4" width="40%"/>-->
			<img src="{% static 'home/images/empatica_results.png' %}" alt="empatica_results" width="872"/>
		</div>
	</section>
	<section class="sidebar text-center">
		<div class="sidebar-info-title">
			<i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
		</div>
		<div class="sidebar-content">
			<h3>What are psychophysiological signals?</h3>
			<p class="text-justify">These are your physiological and physical responses to psychological and cognitive processes. Put simply we measure heart rate, brain waves, eye movements, skin temperature, pupil dilation, accelerometer data, and much more. We analyse this data to make inferences about the psychological and cognitive processes that are occuring, such as reading comprehension, visual inspection of images, or whether you think an email is spam or not. </p>
		</div>
		<div class="sidebar-content">
			<h2 class="activity-highlight">Activity</h2>
			<p>Monitor and visualise your own ECG data</p>
			<a href="{% url 'home:ecg-activity' %}" class="btn btn-primary btn-lg">Get started</a>
		</div>
	</section>
	<section class="main-content wide">
		<h2 class="lead text-center">When you're ready, start the activity on the side bar to the right.</h2>
	</section>
</div>
{% endblock %}

{% block script %} 
{% endblock %}