{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
HCC Workshop | Using the Empatica E4 for EDA
{% endblock %}

{% block app-breadcrumbs %}
<li><a href="{% url 'home:eda' %}">Electrodermal Activity</a></li>
<li class="active">Using the Empatica E4 for EDA</li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/signals.css' %}">
{% endblock %}

{% block content %} 
<div class="content-container">
	<section class="titlebar">
		<h1 class="vertical-align animated bounceInLeft">Using the Empatica E4 for EDA</h1>
	</section>
	<section class="main-content">
		<p class="lead text-center">In this activity, you will be able to use an Empatica E4 on yourself in order to visualise your EDA activity.</p>
		<h2>Initial Setup</h2>
		<p class="text-justify">You will need:
			<ul>
				<li>An iPad</li>
				<li>An Empatica E4</li>
			</ul>
			A number of these devices will be available at the front of the room. Feel free to grab both an iPad and an E4 and take it back to your workstation.</p>
		<p class="text-justify"><strong>There are only a limited number of devices available, so if there are no devices free, you may need to attempt another activity in the meantime.</strong></p>
		<p class="text-justify">You can complete this activity individually. You can also work with your colleagues in order to compare how your electrodermal activity might be different to theirs.</p>
		<h2>Putting the E4 on</h2>
		<p class="text-justify">
			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<ol>
						<li>
							<h4>Place the E4 on your wrist</h4>
							<p class="text-justify">You can choose whichever wrist you like. The single button is usually placed so that it is on the same side as your little pinky finger. The E4 should sit snug just next to your wrist joint.</p>
						</li>
						<li>
							<h4>Secure the strap</h4>
							<p class="text-justify">Wrap the strap around your wrist and secure both connections. Ensure that the strap is firm, but not too tight so that it hurts you.</p>
						</li>
					</ol>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="text-center" style="margin: 16px auto">
						<img src="{% static 'home/images/e4-0.jpg' %}" alt="empatica_results" width="250"/>
					</div>
				</div>
			</div>
		</p>
		<h2>Pairing the devices</h2>
		<p class="text-justify">Once the Empatica E4 is firmly secured to your wrist, you need to pair the device to the iPad.</p>
		<div class="row">
			<div class="col-sm-8 col-md-8 col-lg-8">
				<ol>
					<li>
						<h4>Launch the Empatica Realtime application</h4>
						<p class="text-justify">Launch the application by touching the EmpaticaRT icon on the iPad. It should be on the third home screen.</p>
					</li>
					<li>
						<h4>Prepare the E4</h4>
						<p class="text-justify">Hold down the button on the Empatica E4 for 3 seconds. When a green light starts blinking, this indicates that the E4 is in pairing mode.</p>
					</li>
					<li>
						<h4>Start A New Session</h4>
						<p class="text-justify">Touch Start A New Session. The app will now search for nearby devices in pairing mode. Select the Empatica E4 device as it appears in the selection list. If nothing happens at first, try starting a new session again.</p>
					</li>
					<li>
						<h4>Off you go!</h4>
						<p class="text-justify">Once the pair is successful, the app will re-direct you to the Real Time Streaming.</p>
					</li>
				</ol>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="text-center" style="margin: 16px 0">
					<img src="{% static 'home/images/e4-1.jpg' %}" alt="empatica_results" width="180"/>
				</div>
				<div class="text-center" style="margin: 16px 0">
					<img src="{% static 'home/images/e4-2.jpg' %}" alt="empatica_results" width="180"/>
				</div>
				<div class="text-center" style="margin: 16px 0">
					<img src="{% static 'home/images/e4-3.jpg' %}" alt="empatica_results" width="180"/>
				</div>
			</div>
		</div>
		<h2>Viewing your EDA</h2>
		<p class="text-justify">You can now see your electrodermal activity being tracked in real time. Awesome!</p>
		<div class="text-center" style="margin: 16px 0">
			<img src="{% static 'home/images/ecg-viewing.jpg' %}" alt="empatica_results" width="872"/>
		</div>
		<p class="text-justify">Using your fingers, pinch in and out in order to zoom and change the temporal resolution.</p>
		<h2><span class="activity-highlight">Activity: </span>Attempt to change your EDA</h2>
		<p class="text-justify">Let's see if we can trick your sympathetic nervous system into changing your electrodermal activity.</p>
		<p class="text-justify">Observe your EDA on the iPad. Take a note of its current level, then watch the following video.</p>
		<iframe width="872" height="490" src="https://www.youtube.com/embed/kBftA3M7Hck?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
		<p class="text-center lead">Did you notice any change?</p>
		<p class="text-center">If that didn't calm you, maybe try the next video.</p>
		<iframe width="872" height="490" src="https://www.youtube.com/embed/FGD_0IQiEbg?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
		<p class="text-justify">Observe your EDA on the iPad. Take a note of its current level, then watch the following video.</p>
		<h2><span class="activity-highlight">Activity: </span>Compare your data</h2>
		<p class="text-justify">Take a note of your EDA levels, and compare it to one of your friends. Are there any major differences in your EDA and theirs?</p>
		<p class="text-justify">Discuss with your friend why you might think that would be.</p>
		<h2>Cleaning Up</h2>
		<p class="text-justify">Once you've had enough, take the E4 off your wrist and hold down the button for 2 seconds. Turn off the iPad screen for the next person.</p>
	</section>
	<section class="sidebar text-center">
		<div class="sidebar-info-title">
			<i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
		</div>
		<div class="sidebar-content">
			<h2>Using iOS?<br>Tired of waiting?</h2>
			<p>Install the free Empatica Realtime application from the App Store and view your EDA on your own device!</p>
			<p>Just ask an Instructor for an E4.</p>
		</div>
		{% if '/ecg/empatica-ecg-activity' in completes %}
		<div class="sidebar-info-title">
			<i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
		</div>
		<div class="sidebar-content">
			<h2>Be courteous</h2>
			<p>Once finished with this activity, please return the iPad and Empatica E4 devices to the front for your colleagues to try.</p>
		</div>
		{% else %}
		<div class="sidebar-info-title">
			<i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
		</div>
		<div class="sidebar-content">
			<h2>Hold on!</h2>
			<p>The Empatica E4s also collect ECG data. Hold on to the iPad and E4 in order to learn about ECG.</p>
			<a href="{% url 'home:ecg' %}" class="btn btn-default btn-lg">Go to ECG</a>
		</div>
		{% endif %}
		{% if '/eda/empatica-eda-activity' not in completes %}
		<div class="sidebar-content sidebar-level">
			<h2>Level Up</h2>
			<p>Knees week? Palms sweaty?</p>
			<button role="button" class="btn btn-default btn-lg btn-level" href="#" id="level-up"><span class="btn-primary-span">Level Up</span><i class="fa fa-level-up" aria-hidden="true"></i></button>
		</div>
		{% endif %}
	</section>
</div>
{% endblock %}

{% block script %} 
{% endblock %}