{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
HCC Workshop | Gestures and Body Movement
{% endblock %}

{% block app-breadcrumbs %}
<li class="active">Gestures and Body Movement</li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/signals.css' %}">
{% endblock %}

{% block content %} 
<div class="content-container">
	<section class="titlebar">
		<h1 class="vertical-align animated bounceInLeft">Gestures and Body Movement</h1>
	</section>
	<section class="main-content">
		<h2>What we do</h2>
		<p class="text-justify">The Human Centred Computing (HCC) research group at ANU collects a wide range of psychophysiological data from participants as they carry out various tasks similar to those which you have been doing today. One of the main sources of signal that is used in our research is <strong>gestures and body movements</strong>.</p>
		<h2>Why we do it</h2>
		<p class="text-justify">The Human Centred Computing (HCC) research group looks at many different ways that humans can interact with technology. Ultimately, we want interaction to go beyond the classic mouse and keyboard! Imagine interacting with your computer directly with your hands, similar to science fiction scenes in futuristic movies like <em>Minority Report.</em></p>
		<p class="text-justify">Creating hands free interactions gives users alternate, more flexible, and ergonomic ways of interacting with interfaces. In the medical domain, hands free interaction opens up the possibility of surgeons interacting with a computer to view medical scans of a patient during surgery.</p>
		<div class="text-center" style="margin: 16px auto">
			<img src="{% static 'home/images/myo-0.jpg' %}" alt="empatica_results" width="872"/>
		</div>
		<h2>Observing gestures and body movements</h2>
		<p class="text-justify">To detect gestures, we use a specialist device called the Myo Armband.</p>
		<p class="text-justify">The Myo Armband is worn on your forearm. It uses  electromyographic (EMG) sensors to detect the electrical activity from the forearm muscles. It also uses a gyroscope, accelerometer and magnetometer to recognise gestures from the hand the device is connected to.  A gyroscope is used to measure rotational movement. They are used in combination with accelerometers to detect the movement of the device in 3D space. An accelerometer is an instrument that measures the acceleration of a moving body. These devices are very common, and you will find them in your smart phone or health tracker device. Accelerometers usually measure the 3 axes of movement left-right, up-down, and vertical. A magnetometer is a device that measures magnetism and can be used as a compass. By combining all of this data together, the Myo Armband can be used to control interfaces such as video games and Powerpoint presentations.</p>
		<div class="text-center" style="margin: 16px auto">
			<img src="{% static 'home/images/myo.jpg' %}" alt="empatica_results" width="872"/>
		</div>
		<p>In this activity, we have a Myo Armband available for you to try on and use. The Myo Armband connects via Bluetooth to a computer to allow researchers to visualise and stream data in real time. </p>
	</section>
	<section class="sidebar text-center">
		<div class="sidebar-info-title">
			<i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
		</div>
		<div class="sidebar-content">
			<h3>What is electromyography?</h3>
			<p class="text-justify">Electromyography (EMG) is the recording of the electrical activity produced by muscles. An electromyograph is the device used to collect EMG. It detects the electric potential generated by muscle cells when they are activated. It is often used for medical diagnostic purposes, such as for identifying neuromuscular diseases.</p>
		</div>
				<div class="sidebar-info-title">
			<i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
		</div>
		<div class="sidebar-content">
			<h3>Doesn't an Xbox Kinect Do This?</h3>
			<p class="text-justify">Absolutely! The Kinect for Xbox is another example of a device capable of detecting gestures and body movements. The Kinect is actually used in part of our research for this purpose.</p><p class="text-justify">You could do your own research at home!</p>
		</div>
		<div class="sidebar-content">
			<h2 class='activity-highlight'>Activity</h2>
			<p>Recognise your gestures to control a presentation</p>
			<a href="{% url 'home:gestures-activity' %}" class="btn btn-primary btn-lg">Get started</a>
		</div>
	</section>
</div>
{% endblock %}

{% block script %} 
{% endblock %}