{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
HCC Workshop | Gestures and Body Movement
{% endblock %}

{% block app-breadcrumbs %}
<li class="active">Gestures and Body Movement</li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/signals.css' %}">
{% endblock %}

{% block content %} 
<div class="content-container">
	<section class="titlebar">
		<h1 class="vertical-align animated bounceInLeft">Gestures and Body Movement</h1>
	</section>
	<section class="main-content">

	</section>
	<section class="sidebar text-center">
		<div class="sidebar-content">
			<h2 class='activity-highlight'>Activity</h2>
			<p>Recognise your gestures to control a presentation</p>
			<a href="{% url 'home:gestures-activity' %}" class="btn btn-primary btn-lg">Get started</a>
		</div>
	</section>
</div>
{% endblock %}

{% block script %} 
{% endblock %}