{% extends "core.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/cover.css' %}" />
{% endblock %}
{% block body %}
    <div class="site-wrapper">
      <div class="background-gif"></div>
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="{% url 'home:index' %}">ANU HCC Workshop</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'home:about' %}">About</a></li>
                  <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                  <li><a href="{% url 'home:register' %}">Register</a></li>
                  <li><a href="{% url 'home:newsletter' %}">Subscribe</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">HCC Workshop</h1>
            <p class="lead">The Human Centred Computing Workshop is designed to showcase leading research in a fun and interactive environment.</p>
            <p class="lead">Explore how the study of human computer interaction can enhance the computing experience.</p>
            <p class="lead">
              <br/>
              <a href="{% url 'django.contrib.auth.views.login' %}" class="btn btn-lg btn-default">Login</a>
              <a href="{% url 'home:register' %}" class="btn btn-lg btn-default">Register</a>
              <br><br>
              <a href="{% url 'home:newsletter' %}" class="btn btn-lg btn-default">Subscribe</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <small>By logging in and using this system, you agree to have your data used for research purposes. <a href="#">Find out more.</a></small>
            </div>
          </div>
        </div>

      </div>


    </div>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}