{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/cover.css' %}" />
{% endblock %}
{% block body_main %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ANU</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'home:index' %}">Home</a></li>
                  <li><a href="{% url 'home:about' %}">About HCC</a></li>
                  <li class="active"><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h2>Login</h2>
            <br>
            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login.</p>
                {% else %}
                <p>Please login to see this page.</p>
                <form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                
              {% endbuttons %}
               <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p><a href="{#{% url 'password_reset' %}#}">Lost password?</a></p>
                {% endif %}
            {% else %}
{% if user.is_authenticated %}
              <p>You are already logged in!</p>
              <p><a href="{% url 'home:home' %}">Click here to go to your dashboard.</a></p>
              {% else %}
                {# Display a form #}
            <form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                
              {% endbuttons %}
               <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p><a href="{#{% url 'password_reset' %}#}">Lost password?</a></p>
            {% endif %}
            {% endif %}
            

          </div>

          <div class="mastfoot">
            <div class="inner">
              <small>By logging in and using this system, you agree to have your data used for research purposes. <a href="#">Find out more.</a></small>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}