{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/cover.css' %}" />
{% endblock %}
{% block body %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="{% url 'home:index' %}">ANU HCC Workshop</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'home:about' %}">About</a></li>
                  <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                  <li><a href="{% url 'home:register' %}">Register</a></li>
                  <li class="active"><a href="{% url 'home:newsletter' %}">Subscribe</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Interested in Engineering and <br> Computer Science?</h1>
            <p class="lead"><small>Enter your email address in order to receive communication from the<br>ANU College of Engineering and Computer Science</small></p>
            <br>
                {# Display a form #}
            <form action="" method="post">
              {% csrf_token %}
            {% bootstrap_form form %}
                          {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="btn-primary-span">Subscribe For Newsletter</span>
                </button>
              {% endbuttons %}
            </form>

          </div>

          <div class="mastfoot">
          </div>

        </div>

      </div>

    </div>
{% endblock %}