{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}HCC Workshop | ANU CECS Newsletter {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/newsletter.css' %}" />
{% endblock %}

{% block app-breadcrumbs %}
<li class="active">ANU CECS Newsletter</li>
{% endblock %}

{% block content %}
<section class="container-fluid app-text-standard">
  <h1 class="text-center" style="color: black">ANU CECS Newsletter</h1>
  <div style="width: 50%; margin: 50px auto;" class="text-center">
    {% crispy form %}
  </div>
</section>
{% endblock %}

{% block script %}
<script>
function isElementInViewport(elem) {
    var $elem = $(elem);

    // Get the scroll position of the page.
    var scrollElem = ((navigator.userAgent.toLowerCase().indexOf('webkit') != -1) ? 'body' : 'html');
    var viewportTop = $(scrollElem).scrollTop();
    var viewportBottom = viewportTop + $(window).height();

    // Get the position of the element on the page.
    var elemTop = Math.round( $elem.offset().top );
    var elemBottom = elemTop + $elem.height();

    return ((elemTop < viewportBottom) && (elemBottom > viewportTop));
}

// Check if it's time to start the animation.
function checkAnimation() {
    var $elem = $('.thumbnail > .fa');
    var $trigger = $('.app-text-highlight')
    // If the animation has already been started
    if ($elem.hasClass('animated bounceInUp')) return;

    if (isElementInViewport($trigger)) {
        // Start the animation
        $elem.each(function(index) {
            $(this).delay(100*index).queue(function() {
                $(this).addClass('animated bounceInUp').removeClass('opaque-icon').dequeue();
            });
        });
    }
}

// Capture scroll events
$(window).scroll(function(){
    checkAnimation();
});
</script>
{% endblock %}