{% extends "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/cover.css' %}" />
{% endblock %}
{% block body %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="{% url 'home:index' %}">ANU HCC Workshop</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'home:about' %}">About</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                  <li class="active"><a href="{% url 'home:register' %}">Register</a></li>
                  <li><a href="{% url 'home:newsletter' %}">Subscribe</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 style="font-size: 10vh">Register</h1>
            <br>
            {% if user.is_authenticated %}
              <p>You are already logged in!</p>
              <p><a href="{% url 'home:dashboard' %}">Click here to go to your dashboard.</a></p>
              {% else %}
                {# Display a form #}
            <form action="{% url 'home:register' %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">
                  Register
                </button>
               <input type="hidden" name="next" value="{{ next }}" />
            </form>
            {% endif %}

          </div>

          <div class="mastfoot">
            <div class="inner">
              <small>By logging in and using this system, you agree to have your data used for research purposes. <a id="find-out-more">Find out more.</a></small>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}