#inner-container-fluid {
    padding: 0px;
}

.stats {
    padding: 50px 150px;
}

.extra {
    /* background: rgba(153, 48, 57, 1);
    color: white; */
    padding: 50px 150px;
}

.next-page {
    padding: 20px 40px;
}

.cloud {
    padding: 20px 40px;
}

.phishing-intro {
    height: calc(100vh - 50px); 
    padding: 20px 40px;
}

#phishing-experiment {
    background: #EBEBEB;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 50px 0 0 0;
}

.svg-cloud {
    fill:white;
    stroke: black;
    stroke-width:1;
    stroke-linejoin:round;
}

.background-gif {
    background:url('images/cover.gif');
}

.thumbnail {
    background: transparent;
}

.opaque-icon {
    opacity: 0;
}