/* Styles for index.html */

.background-gif {
    background:url('dots.gif');
    background-size: cover;
    background-position: center;
}


body {
   overflow: hidden;
}


#intro {
    height: calc(100vh - 50px); 
    padding: 50px 80px;
}

#experiment {
    height: 100vh;
    width: 100vw;
    padding: 50px 0 0 0;
    
}

/* Styles for the appearing circles */
#map{
    /*border: 2px #555 dashed;*/
    width:90vw;
    height:80vh;
    padding-left: 50px;
}

/* Styles for plotting for eye gaze data */
.overlay {
  position: absolute;
  left:0;
  right:0;
  width: 100%;
  height: 100%;;
  z-index: 50;
  background:transparent;
}


path { 
    stroke:  #777;
    stroke-width: 2;
    fill: none;
}

.gaze {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

#showgaze {
    height: 100vh;
    width: 100vw;
    padding: 50px 0 0 0;
}



