/*!
 * ANU HCC Workshop
 * August 2016
 * 
 * ***REMOVED***
 *
 * These styles control overarching navbars and divs
 */

@font-face {
    font-family: cabin;
    src: url(../fonts/Cabin-Bold.otf);
}

@font-face {
    font-family: unisans;
    src: url(../fonts/UniSansHeavy.otf);
}

@font-face {
    font-family: dense;
    src: url(../fonts/Dense-Regular.otf);
}

@font-face {
    font-family: arca;
    src: url(../fonts/Arca-Heavy.ttf);
}

@font-face {
    font-family: intro-black;
    src: url(../fonts/IntroCondBlack.otf);
}

@font-face {
    font-family: intro-light;
    src: url(../fonts/IntroCondLight.otf);
}

@font-face {
    font-family: moderne;
    src: url(../fonts/MODERNESANS.ttf);
}

@font-face {
    font-family: mohave;
    src: url(../fonts/Mohave.otf);
}

@font-face {
    font-family: mohave-bold;
    src: url(../fonts/Mohave-Bold.otf);
}

@font-face {
    font-family: mohave-semi;
    src: url(../fonts/Mohave-SemiBold.otf);
}
/**
=================================
OVERARCHING WORKSHOP STYLES
=================================
*/

 body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
 }

h1, h2, h3 {
    font-family: 'mohave-semi', sans-serif;
}

/**
---------------------------------
Top Navbar
---------------------------------
*/
.navbar-fixed-top {
    left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: black;
    background:rgb(51,51,51);
    width: calc(100% - 250px);
    padding:0 60px;
    z-index:100;
    height:50px;
    border:none;
    overflow: hidden;
}

#wrapper.toggled .navbar-fixed-top {
    left: 0px;
    width: 100%;
    overflow: hidden;
}


#wrapper.toggled .side-nav-toggle, .navbar-sign-out, .navbar-dashboard, .navbar-newsletter {
    display: inline-block;
    position: relative; 
    left: 0px; 
    margin:6px 0;
    font-size:18px;
    padding:6px 10px;
    border:none;
    color: #979797;
    background: rgb(51,51,51);
}

.side-nav-toggle {
    display: none;
    padding: 0;
    border: none;
}

#wrapper.toggled .navbar-fixed-top-buttons {
    position: absolute;
    right: 60px;
    background: rgb(51,51,51);
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top-buttons {
    position: absolute;
    right: 0px;
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-sign-out, .navbar-dashboard, .navbar-newsletter {
    color:#5c5c5c;
}

.title {
    font-size:19px;
    display:inline-block;
    background: rgb(51,51,51);
    text-overflow: ellipsis;
}

#wrapper.toggled header.navbar-fixed-top .side-nav-toggle:hover, .navbar-sign-out:hover, .navbar-dashboard:hover, .navbar-newsletter:hover {
    background-color:rgb(51,51,51); color: #fff;
} 

#wrapper.toggled header.navbar-fixed-top .side-nav-toggle:focus, .navbar-sign-out:focus, .navbar-newsletter:focus {
    outline:none;
}

.breadcrumb > li > a {
    color: #fff;
}

.breadcrumb {
    padding-left: 0;
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top-level {
    font-family: 'mohave';
    padding: 6px 15px;
    color: #f3f3f3;
    font-size: 2em;
    left: 40vw;
    position: absolute;
}
/**
---------------------------------
Side Navbar Wrapper
---------------------------------
*/
#sidebar-wrapper {
    border: none;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgb(51,51,51);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}

/**
---------------------------------
Main Content Areas
---------------------------------
*/

#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 50px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.jumbotron {
    background: rgba(153, 48, 57, 1);
    color: white;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 0;
}

.container-fluid {
    padding: 0 100px;
}

#content {
    padding: 0;
}
/**
---------------------------------
Side Navbar
---------------------------------
*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.sidebar-nav li {
    text-indent: 0px;
    line-height: 30px;
}

.sidebar-nav li a {
    background-image: linear-gradient(to left,transparent,transparent 50%,#575757 50%,#575757);
    background-position: 100% 0;
    background-size: 200% 100%;
        -webkit-transition: all .2s ease-in;
      -moz-transition:  all .2s ease-in;
       -ms-transition:  all .2s ease-in;
            transition: all .2s ease-in;
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

li a:hover {
    background-position: 0 0;
}

i.fa + span {
    position: relative;
    left: 10px;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus
{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav li.sidebar-brand {
    color: #979797;
    background: #373737;
    height: 50px;
}

.sidebar-nav > .sidebar-brand i {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: 13px;   
}
.sidebar-nav > .sidebar-brand:hover {
    cursor: pointer; 
    color: #fff; 
}

.sidebar-nav > .sidebar-sign-out {
    color: #979797;
    background:#373737;
}

/**
=================================
FOOTER STYLES
=================================
*/

.lead-footer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-footer {
    list-style: none;
    padding-left: 0;
    line-height: 2em;
}

.list-footer > li > a {
    color: #fff;
}

/**
=================================
DASHBOARD STYLES
=================================
*/

#dashboard-container-fluid {
    padding: 80px 60px 0 60px;
    background: #f7f7f7;
}

.thumbnail {
    border: none;
    background: #fff;
    padding: 0;
}

#eyetracker-activities.container-fluid {
    padding: 100px 60px;
}

.inner-eye {
    padding: 0;
}

#other-activities.container-fluid {
    background: #fff;
    padding: 15px 60px;
}

/**
=================================
EYE TRACKING THUMBNAILS
=================================
*/

.eyegaze-title {
    /*margin-top: calc(50% - 69px);  */
}

.eye-thumbnail {
    overflow:hidden;
    cursor:default;
    width: 100%;
    max-height: 350px;
    cursor: pointer;
}

.eye-thumbnail .eye-caption {
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
    text-align: center;
}

.eye-thumbnail img {
    padding: 0;
    display:block; 
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
    position: relative;
    right: 25%;
}


.eye-thumbnail h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
top: 10%;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.eye-thumbnail button.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin: 45% 0 0;
}

.eye-thumbnail button.info:hover {
    background-color:rgba(250,250,250,0.2);
}

.eye-thumbnail:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.eye-thumbnail:hover .eye-caption {
opacity:1;
filter:alpha(opacity=100);
}

.eye-thumbnail:hover h2,.eye-thumbnail:hover button.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

/**
=================================
OTHER ACTIVITY THUMBNAILS
=================================
*/


.app-thumbnail-img {
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
    overflow: hidden;
    background: #fff;
}

.activity-thumbnail {
    overflow: hidden;
    background: #fff;
}

.title-caption {
    display: block;
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
    height: 5em;
}

.content-caption {
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
    background: #fff;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.title-caption:hover .content-caption {
    display: block;
    background: #fff;
} 

.activity-thumbnail:hover .app-thumbnail-img  {
    -webkit-transform: translate3d(0,-30%,0);
	transform: translate3d(0,-30%,0);
}
.activity-thumbnail:hover .title-caption {
    -webkit-transform: translate3d(0,-140%,0);
	transform: translate3d(0,-140%,0);

}

