/*!
 * ANU HCC Workshop
 * August 2016
 * 
 * ***REMOVED***
 *
 * These styles control common elements that should
 * appear consistent across multiple apps
 * 
 */
 
 /**
=================================
BUTTONS
=================================
*/

.btn-primary-span {
    padding-right: 15px;
}

#experiment-button {
    padding-top: 15px;
}

/**
=================================
TITLES AND HEADERS
=================================
*/

.page-header {
    padding: 0 80px;
}

h1, .jumbotron h1 {
    font-size: 9rem;
}
/**
=================================
SECTIONS
=================================
*/

.app-splash {
    z-index: 2;
    position: absolute;
    top: calc((75vh - 50px)/ 2);
    width: 100%;
    background: rgba(255,255,255,0.1);
}

.background-gif {
    display: block;
    z-index: 1;
    height: calc(70vh - 50px);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px) grayscale(0.3) brightness(0.9);
}

.related-section {
    background: #5B81A1;
    color: #fff;
    padding: 80px 80px;
}

.button-section {
    padding: 50px 80px;
}

.app-text-highlight {
    background: #5B81A1;
    color: #fff;
    padding: 80px 80px;
}

.app-text-standard {
    /*width: 1270px;*/
    /*margin: 0 auto;*/
    /*padding: 0 60px;*/
    padding: 80px 80px;
    border-bottom: 1px solid #f3f3f3;
}

.app-footer {
    padding: 40px 80px;
    background: rgb(51,51,51);
    color: #fff;
}

.app-text-other {
    padding: 40px 80px;
    background: #f7f7f7;
}

.next-page {
    padding: 20px 40px;
}

#intro {
    height: calc(30vh - 50px); 
    padding: 10px 80px;
}

.dash-splash {
    height: calc(50vh - 50px);
}

.dash-splash h1 {
    margin-top: 10vh;
    font-size: 15vh;
}

#eyegaze-bg-gif {
    background:url('../home/images/cover-eyetracking.gif');
    background-size: cover;
    -webkit-filter: blur(3px) grayscale(0.3) brightness(0.9);
}

.page-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0vh;
    top: 0vh;
    z-index: 500;
    background: rgba(0,0,0,0.8);
    display: none;
}

.help-overlay {
    background: #5B81A1;
    color: white;
    position: fixed;
    left: 25vw;
    top: 25vh;
    width: 50vw;
    height: 50vh;
    z-index: 600;
    padding: 30px 30px;
    display: none;
}

.lock {
    overflow: hidden;
}

#help-btn {
    cursor: pointer;
}

#ethics-overlay {
    overflow-y: scroll;
}

#ethics-contact-details {
    position: relative;
    left: 5%;
}

#find-out-more {
    cursor: pointer;
}

.blue-modal {
    background: #5B81A1;
    color: white;
}