/*!
 * ANU HCC Workshop
 * August 2016
 * 
 * ***REMOVED***
 *
 * These styles control common elements that should
 * appear consistent across multiple apps
 * 
 */
 
 /**
=================================
BUTTONS
=================================
*/

.btn-primary-span {
    padding-right: 15px;
}

#experiment-button {
    padding-top: 15px;
}

/**
=================================
TITLES AND HEADERS
=================================
*/

.page-header {
    padding: 0 80px;
}

/**
=================================
SECTIONS
=================================
*/

.app-splash {
    z-index: 2;
    position: absolute;
    top: calc((75vh - 50px)/ 2);
    width: 100%;
    background: rgba(255,255,255,0.1);
}

.background-gif {
    display: block;
    z-index: 1;
    height: calc(70vh - 50px);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px) grayscale(0.3) brightness(0.9);
}

.related-section {
    background: #5B81A1;
    color: #fff;
    padding: 80px 80px;
}

.button-section {
    padding: 50px 80px;
}

.app-text-highlight {
    background: #5B81A1;
    color: #fff;
    padding: 80px 80px;
}

.app-text-standard {
    padding: 80px 80px;
    border-bottom: 1px solid #f3f3f3;
}

.app-footer {
    padding: 40px 80px;
    background: rgb(51,51,51);
    color: #fff;
}

.app-text-other {
    padding: 40px 80px;
    background: #f7f7f7;
}

.next-page {
    padding: 20px 40px;
}

#intro {
    height: calc(100vh - 50px); 
    padding: 50px 80px;
}