{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Design Principles {% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'design/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
<li><a href="{% url 'design:index' %}">HCI </a></li>
	<li class="active">Conceptual Models</li>
{% endblock %}

{% block content %} 
    <div class="container-fluid app-text-standard">
        <h2>Conceptual Models</h2>
        <p class="text-justify">The last design principle is one of the most important, because it integrates all of the design principles Conceptual models are how we think things works. They are mental models that help useres understand the system and how to use it. Bad design of an interface can mess with the conceptual model and therefore its use! Conceputal models are formed through training, previous experience, cultural factors, as well as </p>
        <p class="class-justify"></p>

        <h3>Sticking to what people are used to</h3>
        <p class="text-justify">When designing an interface it is really important to take into consideration what people probably already know. A lot of how people interact with an interface comes from their experiences or what they have been taught. This is called knowledge in the head! Knowledge in the head can be powerful when they build conceptual models of how a system or interface should work. That is why a lot of digital objects are similar to the real world.</p>
        <p class="text-justify">Another way of looking at it is that when designing interfaces one should stick to standards. These standards may be imposed by real world objects or they may be standards set by other systems. Going against standards that people have already learnt and know means it can be quite difficult for them to figure out how to use an interface. Take for example the clock below, can you tell the time? </p>

        <div class="container">
        <canvas id="canvas" width="400" height="400" style="background-color:white"> </canvas>
        </div>

        <p class="text-justify">The clock doesn't conform to what your conceptual model of a clock is, it doesn't conform to the standard clock you learnt and it is therefore difficult for you to tell the time. The trick is that the numbers and hands are going in the opposite direction!</p>
    </div>
		<section class="container-fluid app-text-highlight">
				<div class="text-center vertical-align">
					<h1>Level Up</h1>
					<p class="lead">Time for a new level.</p>
					<button role="button" class="btn btn-default btn-lg" href="#" id="level-up"><span class="btn-primary-span">Level Up</span><i class="fa fa-level-up" aria-hidden="true"></i></a>
				</div>
</section>

    
{% endblock %}

{% block script %} 
<script type="text/javascript" src="{% static 'eyetracking/scroll.js' %}"></script>

<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  ctx.lineWidth = radius*0.05;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.07, 0, 2*Math.PI);
  ctx.fillStyle = 'black';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = 12; num > 0; num--){
    ang = -num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }
}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.4, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.65, radius*0.07);
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, radius*0.75, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(-pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(pos);
}
</script>

{% endblock %}