{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Design Principles {% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'design/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
<li><a href="{% url 'design:index' %}">HCI Design Principles</a></li>
	<li class="active">Constraints</li>
{% endblock %}

{% block content %} 
    <div class="container">
        <h2>Constraints</h2>
        <p class="text-justify">Constraints are a type of feedback, that provide cues and limit the set of possible operations. Constraints are necessary for indicating proper use of a system.</p>
        <h3 class="text-center">Affordances give STRONG cues on use</h3>
        <p class="text-justify">If affordances are thought of as determining what action is possible, then signifiers are the signal for what the action is. An examples is, if a button must be pushed, the signifier is the text on the button signalling what action the push is, such as “Delete” or “Enter”. Perceived affordances act as signifiers.</p>



 </p>

    </div>
{% endblock %}

{% block script %} 
{% endblock %}