{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Design Principles {% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'design/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
<li><a href="{% url 'design:index' %}">HCI Design Principles</a></li>
	<li class="active">Constraints</li>
{% endblock %}

{% block content %} 
    <div class="container">
        <h2>Constraints</h2>
        <p class="text-justify">Constraints provide cues and limit the set of possible operations. Constraints are necessary for indicating proper use of a system.</p>
        



 </p>

    </div>
{% endblock %}

{% block script %} 
{% endblock %}