{% extends "base.html" %}
{% load staticfiles %}

{% block title %}HCC Workshop | Cyber Security {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'cybersecurity/css/style.css' %}" />	
{% endblock %}

{% block menu %}
{% endblock %}    

{% block app-breadcrumbs %}
<li><a href="{% url 'cybersecurity:index' %}">Cyber Security</a></li>
<li class="active">Privacy</li>
{% endblock %}

{% block content %}
<div class="page-header">
        <h1>Cyber Security <small>PRIVACY</small></h1>
</div>
    <div class="container-fluid app-text-standard">
        <div class="row">
            <div class="col-md-6">
                <p class="text-justify lead">We are living in a digital age, so it makes sense that so many of us carry out our lives online. However, often this means that personally identifiable information is constantly being transmitted across the Internet and into the 'cloud'. </p>
                <p class="text-justify lead">Consider how you use the Internet and the social media websites or apps you use. How might the way in which you interact with technology affect your privacy?</p>
            </div>
            <div class="col-md-6">
                <p><em><span style="font-size:0.9em;text-align:center">On the diagram below, select which social media websites you use to visualise the data you are uploading to the Internet.</span></em></p>
                <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i><i class="fa fa-flickr fa-4x" aria-hidden="true"></i><i class="fa fa-google-plus-official fa-4x" aria-hidden="true"></i><i class="fa fa-instagram fa-4x" aria-hidden="true"></i><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i><i class="fa fa-pinterest fa-4x" aria-hidden="true"></i><i class="fa fa-skype fa-4x" aria-hidden="true"></i><i class="fa fa-snapchat-ghost fa-4x" aria-hidden="true"></i><br><i class="fa fa-tumblr-square fa-4x" aria-hidden="true"></i><i class="fa fa-twitter fa-4x" aria-hidden="true"></i><i class="fa fa-vine fa-4x" aria-hidden="true"></i><i class="fa fa-whatsapp fa-4x" aria-hidden="true"></i><i class="fa fa-youtube fa-4x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid app-text-standard">
        <p class="text-justify lead">It is expected that global Internet traffic is close to exceeding one trillion gigabytes.  Figures suggest that with every minute that passes by, over 300 hours of footage is uploaded to Youtube alone. That means that in the time you have been on this page, users around the world have uploaded over <span id="hours"></span> hours of video!</p>
        <p class="text-justify lead">How much of this data is personally identifiable information? What percentage of it preserves your privacy appropriately? Personal data holds criminal value, therefore an important aspect of cyber security is ensuring personal privacy.</p>
    </div>
    <div class="container-fluid related-section">
        <h1>How does this relate to Human Centred Computing?</h1>
        <p class="text-justify">People are the most important aspect of ICT. Technology is great for assisting us with our every day lives, from making tasks easier to making life more enjoyable. However, humans are often considered to be the weakest link in the cyber security of a system. For example, if a human user has direct access to data, by manipulating the user (with or without their knowledge or intent), a malicious adversary can cause damage whilst bypassing a large range of technical controls. Additionally, we want to make sure our interaction with technology is a safe one, and is not used as a means to do us harm through misuse of our personal information.</p>
        <p class="text-justify">Cyber security is an active area of research in the ANU Human Centred Computing research group. By understanding how humans interact with technology, it assists us in implementing better security. We also look at ways of adding additional security measures into systems to preserve your privacy. This might involve developing special transformations to the data so that it is unrecognisable, or by utilising your subconscious thoughts and actions to serve as a means of representing you in an 'un-hackable' way. </p>
        <p class="text-justify">The knowledge learnt from studying human-centred computing can contribute toward improving cyber security education, user policies, as well as the implementation of technical controls that protect users against manipulation.</p>
    </div>
    <style>
path {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

</style>
    <div class="container-fluid cloud text-center">
        <h1>How much personal data do you have in the cloud? </h1>
        <svg viewBox='0 0 300 100'>
            <path class="svg-cloud" d='M 130,30 a 20,20 1 0,0 0,40 h 50 a 20,20 1 0,0 0,-40 a 10,10 1 0,0 -15,-10 a 15,15 1 0,0 -35,10  z'/>
            <path class="path" id="mail_p" d='M57 35 V60 H110' fill="transparent"/>
            <path class="path" id="fb_p" d='M17 112 V88 H147 V70' fill="transparent"/>
            <path class="path" id="tw_p" d='M44 112 V90 H148 V70' fill="transparent"/>
            <path class="path" id="gp_p" d='M71 112 V92 H149 V70' fill="transparent"/>
            <path class="path" id="tu_p" d='M98 112 V94 H150 V70' fill="transparent"/>
            <path class="path" id="sc_p" d='M125 112 V96 H151 V70' fill="transparent"/>
            <!-- MIDDLE -->
            <path class="path" id="yt_p" d='M152 112 V92 H152 V70' fill="transparent"/>
            <path class="path" id="sk_p" d='M179 112 V96 H153 V70' fill="transparent"/>
            <path class="path" id="wa_p" d='M206 112 V94 H154 V70' fill="transparent"/>
            <path class="path" id="ig_p" d='M233 112 V92 H155 V70' fill="transparent"/>
            <path class="path" id="vi_p" d='M260 112 V90 H156 V70' fill="transparent"/>
            <path class="path" id="pi_p" d='M287 112 V88 H157 V70' fill="transparent"/>
        </svg>
    </div>
    <!--
    <div class="container-fluid button-section text-center">
        <a href="{% url 'cybersecurity:phishing' %}" role="button" class="btn btn-primary btn-lg"><span class="btn-primary-span">Next</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
    -->
{% endblock %}

{% block script %}
{% endblock %}