{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Image Tracking {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{% static 'reading_tracking/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
	<li><a href="{% url 'reading_tracking:index' %}">Image Tracking</a></li>
	<li class="active">My eye gaze</li>
{% endblock %}

{% block content %} 
	{% if False %}
	<div class="background-gif"></div>
		<div class="jumbotron text-center">
		<h1 class="vertical-align">Eye Tracking for Image Viewing</h1>
	</div>
	<div id="inner-container-fluid" class="container-fluid">
		<p>Whoops! Something seems to have gone wrong. Go back to the 
			<a href="{% url 'image_tracking:index' %}">start page</a> for the activity and 
			make sure an <a href="https://theeyetribe.com/">EyeTribe</a> eye tracker is connected and running on this computer. 
		</p>
		<div class="container-fluid next-page text-center">
			<a href="{% url 'image_tracking:eyegaze' %}" role="button" class="btn btn-primary btn-lg">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
				<span class="next-btn-primary-span">Image Tracking Start Page</span>
			</a>
		</div>
	</div>
	{% else %}
	<div id="inner-container-fluid" class="container-fluid">
	<div class="page-header">
        <h1>Image Tracking <small>MY EYE GAZE</small></h1>
    </div>
		<div class="experiment-images">
			<p>When asked to simply look at the image your eye gaze looked like this:</p> 
			<div id="showgaze" class="text-center"><img src="{% static 'image_tracking/the_visitor.jpg' %}" id="image1"/></div>
			<p>When asked to guess the ages of the people in the image your eye gaze looked like this:</p> 
			<div id="showgaze" class="text-center"><img src="{% static 'image_tracking/the_visitor.jpg' %}" id="image2"/></div>
			<p>When asked to time memorise the positions the objects in the image your eye gaze looked like this:</p> 
			<div id="showgaze" class="text-center"><img src="{% static 'image_tracking/the_visitor.jpg' %}" id="image3"/></div>
		</div>
		<div class="container-fluid next-page text-center">
			<a href="{% url 'home:eyegazeinfo' %}" role="button" class="btn btn-primary btn-lg">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				<span class="next-btn-primary-span">Eye Tracking Information Sheet</span>
			</a>
			
		</div>

	</div>
	{% endif %}
{% endblock %}
{% block script %} 
<script>
// Plot the gaze data from the previous screen using D3.js:
data = {{ data|safe }};

//This is the accessor function we talked about above
var lineFunction = d3.line()
						.x(function(d) { return d.x; })
						.y(function(d) { return d.y; });
						
//The SVG Container
var svgContainer = d3.select("body").append("svg")
					.attr("width", "100%")
					.attr("height", "100%")
					.attr("class", "overlay");

//The line SVG Path we draw
var lineGraph = svgContainer.append("path")
						.attr("d", lineFunction(data))
						.attr("stroke", "blue")
						.attr("stroke-width", 2)
						.attr("fill", "none");	

var circles = svgContainer.selectAll("circle")
                          .data(data)
                          .enter()
                          .append("circle");

var circleAttributes = circles
                       .attr("cx", function (d) { return d.x; })
                       .attr("cy", function (d) { return d.y; })
                       .attr("r", 5)			  
</script>
{% endblock %}