/* Styles for index.html */

.background-gif {
    background:url('image.gif');
    /*opacity: 0.6;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button, #experiment-button {
  z-index: 100;
}

.experiment-text {
    width:700px;
    margin-left:auto;
    margin-right:auto;
    font-size:30px;
    line-height: 125%;
    padding-top:20px;
    padding-bottom:50px;
}

#intro {
    height: calc(100vh - 50px); 
    padding: 50px 80px;
}

#experiment_pt1, #experiment_pt2, #experiment_pt3 {
    height: 100vh;
    width: 100%;
    padding: 50px 0 0 0;
}

/* Styles for plotting for eye gaze data */
.overlay {
  position: absolute;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 50;
  background:transparent;
}

path { 
    stroke:  #777;;
    stroke-width: 2;
    fill: none;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

body {
    overflow: hidden;
}

#showgaze {
    height: 100vh;
    width: 100%;
}

.experiment-images {
    display: inline-block;
}