/* Styles for index.html */

.background-gif {
    background:url('image.gif');
    /*opacity: 0.6;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button, #experiment-button {
  z-index: 100;
}


#experiment_pt1, #experiment_pt2, #experiment_pt3 {
    height: 100vh;
    width: 100%;
    padding: 70px 0 0 0;
}

/* Styles for plotting for eye gaze data */

path { 
    stroke:  #777;;
    stroke-width: 2;
    fill: none;
}

circle {
    /*fill: #ccc;*/
    fill:red;
    z-index: 100000000000000;
    stroke: #fff;
    stroke-width: 1px;
}

/*body {
    overflow: hidden;
}*/

.experiment-images {
    display: inline-block;
}

.overlay {
  position: absolute;
  left:0;
  right:0;
  width: 100vw;
  height: 100vh;;
  z-index: 50;
  background:transparent;
}