{% extends "core.html" %}
{% load staticfiles %}
{% block body %}
<div id="wrapper"> 

                <!-- Page Content -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <i class="fa fa-bars" aria-hidden="true" data-toggle="offcanvas" style="color: white"></i><a class="navbar-brand" href="#"><span>HCC Workshop</span></a>
        </div>
        <!-- <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Default</a></li>
            <li><a href="">Static top</a></li>
            <li class="active"><a href=".">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </header>
    <nav class="navbar navbar-inverse" id="sidebar-wrapper" role="navigation">  
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                </li>
                <li>
                    <div class="icon-container">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                </li>
                <li>
                    <a href="#">The Thatcher Effect</a>
                </li>
                <li>
                    <a href="#">Cyber Security</a>
                </li>
                <li>
                    <a href="#">Fake or Real Smiles</a>
                </li>
                <li>
                    <a href="">Images: Believe em or Not</a>
                </li>
                <li>
                    <a href="">Creating Mondrian-like Art</a>
                </li>
                <li>
                    <a href="">Further Research</a>
                </li>
                {% block menu %}
                {% endblock %}
                <li>
                    <a href="">Generate Website</a>
                </li>
                <li class="sidebar-sign-out">
                    <a href="{% url 'django.contrib.auth.views.logout' %}">&nbsp;Logout</a>
                </li>
            </ul>
        </nav> 
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                
            {% block content %}
            {% endblock %}
            </div>
           
        </div><!-- /#page-content-wrapper -->

</div><!-- /#wrapper -->
{% endblock %}

{% block script %}
    <script src="{% static 'main.js' %}"></script>

{% endblock %}