{% extends "base.html" %}

{% block title %} HCC Workshop | Reading Tracking {% endblock %}

{% block head %} 
{% endblock %}

{% block app-title %} Reading Tracking {% endblock %}

{% block content %} 
	<div id="inner-container-fluid" class="container-fluid">
		<h1>Eye Tracking for Reading Analysis</h1>
        {% if True %}
            <p>Whoops! Something seems to have gone wrong. Go back to the 
                <a href="{% url 'reading_tracking:eyegaze' %}">start page</a> for the activity and 
                make sure an <a href="https://theeyetribe.com/">EyeTribe</a> eye tracker is connected and running on this computer. 
            </p>
            <div class="container-fluid next-page text-center">
                <a href="{% url 'reading_tracking:eyegaze' %}" role="button" class="btn btn-primary btn-lg">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
					<span class="next-btn-primary-span">Reading Tracking Start Page</span>
				</a>
        		<a href="{% url 'home:dashboard' %}" role="button" class="btn btn-primary btn-lg">
					<i class="fa fa-home" aria-hidden="true"></i>
					<span class="next-btn-primary-span">Dashboard</span>
				</a>
    		</div>
        {% else %}
            <p>Have a look at what your eye movements look like whilst you read the text on the previous page: </p>
			<div class="text-center">
            	<img  src="https://placekitten.com/800/600" alt="">
			</div>
            <p>Pretty cool huh?! If you would like to learn about eye tracking and the use of eye tracking in HCC 
                research go to our <a href="{% url 'home:eyegazeinfo' %}">Eye Tracking Information Sheet</a></p>

            <div class="container-fluid next-page text-center">
                <a href="{% url 'home:eyegazeinfo' %}" role="button" class="btn btn-primary btn-lg">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
					<span class="next-btn-primary-span">Eye Tracking Information Sheet</span>
				</a>
        		<a href="{% url 'home:dashboard' %}" role="button" class="btn btn-primary btn-lg">
					<i class="fa fa-home" aria-hidden="true"></i>
					<span class="next-btn-primary-span">Dashboard</span>
				</a>
    		</div>

        {% endif %}

	</div>
{% endblock %}
{% block script %} 
	
{% endblock %}