{% extends "base.html" %}

{% block title %} HCC Workshop | Reading Tracking {% endblock %}

{% block head %} 
{% endblock %}

{% block app-title %} Reading Tracking {% endblock %}

{% block content %} 
	<div id="inner-container-fluid" class="container-fluid">
		<h1>Eye Tracking for Reading Analysis</h1>
		{% if False %}
			<p>Unfortunately, no eye tracker has been detected, if you have an EyeTribe
				 connected,check the connection through the EyeTribe software and reload this page. If you 
				do not have an EyeTribe connected to this computer 
				please either move to a computer with one connected, of connect one. 
			</p>
			<p>If you are interested in finding out more about the EyeTribe eye tracker please visit the
				EyeTribe's website: theeyetribe.com
			</p>
			<p>If you're interested in finding out more about eye tracking you can read the <a href="{% url 'home:eyegazeinfo' %}">information page</a>
				on eye tracking.
			</p>
			<div class="container-fluid next-page text-center">
        		<a href="{% url 'home:dashboard' %}" role="button" class="btn btn-primary btn-lg">
					<i class="fa fa-home" aria-hidden="true"></i>
					<span class="next-btn-primary-span">Dashboard</span>
				</a>
    		</div>
		{% else %}
			<p>Right now your eye movements are being tracked. This allows us to see what you are looking at 
				and analyse your reading behaviour.</p>

			<p>Please read the text below:</p>

			<div style="width:700px;margin-left:auto;margin-right:auto;font-size:34px;font-family: Arial, Helvetica, sans-serif;line-height: 125%;padding-top:20px;padding-bottom:50px;">
				When a person is reading a sentence silently, the eye movements show that not every word is fixated. 
				Every once in a while a regression (an eye movement that goes back in the text) is made to re-examine 
				a word that may be longer not fully understood the first time. This only happens with about 10% of 
				the fixations, depending on how difficult the text is. The more difficult the higher the likelihood 
				that regressions are made.
			</div>

			<input type="hidden" id="etdata" name="eyetracker_data" value="">

			<div class="container-fluid next-page text-center">
        		<a href="{% url 'reading_tracking:eyegaze' %}" role="button" class="btn btn-primary btn-lg">
					<span class="next-btn-primary-span">Next</span>
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
    		</div>

		{% endif %}
	</div>
{% endblock %}

{% block script %} 
<script>
	var eyedata = [];
	etdata = $('#etdata');
	EyeTribe.loop(function(frame) {
		eyedata.push(frame.dump());
		etdata.val(JSON.stringify(eyedata));
	});
</script>

{% endblock %}