{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HCC Workshop | Manipulated Images {% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'image_manipulation/styles.css' %}">
{% endblock %}

{% block app-breadcrumbs %}
    <li><a href="{% url 'image_manipulation:index' %}">Manipulated Images</a></li>
	<li class="active">Image</li>
{% endblock %}

{% block content %}
<div class="container-fluid app-text-standard ">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
                    <form action="" method="POST">
        {% csrf_token %}
        
        <h3 id="question">{{ form.answer.label }}</h3>

        {% for choice in form.answer %}
            {%  if choice.choice_label != "---------" %}
                <p id="choice_{{ forloop.counter0 }}">{{ choice.tag }} {{ choice.choice_label }}</p>
            {% endif %}
         {% endfor %}

        {{ form.image_number.as_hidden }}
        
        <div class="container-fluid next-page text-center">
            <button id="submit" type="submit" value="Next" class="btn btn-primary btn-lg">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="text-center">
            {% with 'image_manipulation/'|add:image as image_static %}
                <img src="{% static image_static %}" >
            {% endwith %}
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock content %}

{% block script %} 
{% endblock %}