/* LAYOUT */
.text-primary {
  color: #993039;
}


#_activities_list {
    column-gap: 50px;
    padding: 0px;
}

#_generate_button {

    width: 220px;
    height: 50px;
    margin        : 20px auto;
    padding       : 10px 30px;
    display: block;
    font-size: 1.4em;
    background-color: #993039;
    color         : #EBEBEB;
    text-align: center;
    cursor:pointer;
    vertical-align: middle;
    line-height: 2;

}

td a.mlong_button:visited {
    background-color: #EBEBEB;
}
form {
    display : block;
    width   : 800px;
    margin: 50px auto 50px auto;

    text-align: center;
}

