html, body {
	height     : 100%;
	min-height : 100%;
	margin     : 0;
	padding    : 0;
}

#_main_wrapper {
	width      : 1250px;
	margin     : 0 auto;
}

#_content {
	padding : 20px 100px 20px 100px;
}

/* STYLE */
body {
	background-color : white;
	font-family      : "HelveticaNeue-Light", "Helvetica Neue Light",'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight : 300;
	color: #4C6E78;
}

h2 {
	font-weight : 300;
	color: #4C6E78;
}

a {
	color           : #5B81A1;
	text-decoration : none;
}

a:visited {
	color : #A1B5C5;
}

p {
	font-size     : 1em;
}

.mlong_button {
	display       : table-cell;
	vertical-align: middle;
	width         : 220px;
	height: 50px;
	margin        : 20px auto;
	padding       : 10px 30px;
	background-color: #666666;
	font-size     : 20px;
	color         : #EBEBEB;
	font-family 	: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align    : center;
	border        : none;
	cursor: pointer;
}

.medium_button, .phish_button {
	display       : block;
	width         : 150px;
	margin        : 20px auto;
	padding       : 10px 30px;
	background-color: #666666;
	font-size     : 20px;
	font-family 	: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color         : #EBEBEB;
	text-align    : center;
	border        : none;
	cursor: pointer;
}

p.question {
	margin-top : 50px;
}

.medium_textfield {
	display       : block;
	width         : 300px;
	margin        : 20px auto 20px auto;
	padding       : 5px;
	font-size     : 15px;
	border        : 1px solid #5B81A1;
	border-radius : 6px;
}

.medium_textfield:focus {
	box-shadow : 0px 0px 5px 2px #a1b5c5;
	outline    : 0;
}

textarea {
	display       : block;

	margin        : 20px auto 20px auto;
	padding       : 5px;

	font-size     : 15px;
	border        : 1px solid #5B81A1;
	border-radius : 6px;
}

textarea:focus {
	box-shadow : 0px 0px 5px 2px #a1b5c5;
	outline    : 0;
}

#outer_header {
	height           : 121px;
	background-color : #333333;
	border-bottom-style: solid;
	border-bottom-color: #993039;
	border-bottom-width: 5px;
}

#header {
	position     : relative;
	height       : 100%;
	width        : 1250px;
	margin-right : auto;
	margin-left  : auto;

}


#logo {
	position         : absolute;
	top         : 30px;
	left        : 100px;

	height           : 71px;
	width            : 200px;

	background-image : url('anu_logo.png');
	background-size  : 100% 100%;
}

#mname{
	position    : absolute;

	top         : 25px;
	right       : 80px;
	height      : 71px;
	width       : 600px;
	font-size   : 1.5em;
	font-weight : 200;
	color       : white;
	text-align: right;
}

#user_panel {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 0px; 
}

a.unvisitedable:visited {
	color           : #5B81A1;
}

img {
    display: block;
    margin: 0 auto;
}
table {
    margin-left:auto; 
    margin-right:auto;

}

#special {
	color: #993039;
}